
*{
	font-family: 'Montserrat' !important;
  font-size: 15px;
  /*color: #0c3c7d;*/
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#navBar{
  width: 100%;
  height: 80px;
  margin: 0 auto;
}

#blockContainer{
  height: auto;
}

#blockContainer2{
  height: 100%;
}

#footer{
  width: 100%;
  height: 80px;
}

.uk-navbar-nav>li.uk-active>a {
  color: #0c3c7d;
  font-size: 17px;
}

.uk-navbar-nav>li.uk-active>a:hover {
  background: #0c3c7d;
  color: white;
  text-decoration: underline;
}

.uk-navbar-nav>li.uk-reserva>a{
  color: white;
  background: #0c3c7d;
}
.uk-navbar-nav>li.uk-reserva>a:hover{
  text-decoration: underline;
}

.uk-text-title1{
  color: #0c3c7d;
  font-weight: 700;
}

.uk-text-subtitle1{
  color: #0c3c7d;
  font-weight: 400;
  font-size: 18px;
}

.uk-text-subtitle1>i{
  font-size: 18px;
  color: #0c3c7d;
}

.uk-text-subtitle1>strong{
  font-size: 18px;
  color: #0c3c7d;
}

.uk-text-subtitle2{
  color: #0c3c7d;
  font-weight: 400;
  font-size: 22px;
}

.uk-text-subtitle2>strong{
  font-size: 22px;
  color: #0c3c7d;
}

.uk-descripcion, .uk-descripcion-room{
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}

.uk-navbar-nav>li.uk-link-footer>a{
  color: white;
  text-transform: none;
  font-size: 12px;
}
.uk-navbar-nav>li.uk-link-footer>a:hover{
  text-decoration: underline;
}

.uk-icon-button{
  background: white;
}

.uk-nav-divider-footer{
  border-left: 1px solid white;
  margin: 25px 0;
}

.uk-nav>li.uk-link-toogle>a{
  color: #0c3c7d;
  text-transform: none;
  font-size: 12px;
}
.uk-nav>li.uk-link-toogle>a:hover{
  text-decoration: underline;
}

.uk-offcanvas-bar-toogle{
  background: white;
}


.uk-nav>li.uk-reserva>a{
  text-decoration: underline;
}
.uk-nav>li.uk-reserva>a:hover{
  color: #333333;
}


.uk-border-top-title-room{
  border-top: 2px solid #b1bdd3;
  margin:0;
}


.uk-text-subtitle-room{
  color: #333333;
  font-size: 15px;
}

.uk-icon-services{
  width: 27px;
  height: 27px;
}

.uk-button-reservar{
  background: #0c3c7d;
  color: white;
  font-weight: 700;
  border-radius: 6px;
}

.uk-button-reservar:hover{
  background: #517dbc;
  text-decoration: underline;
  color: white;
}

.uk-button-reservar:active{
  background: #0c3c7d;
  color: white;
}

.map-responsive{
    position: relative;
    padding-bottom: 115%;
    height: 0;
    overflow: hidden;
}

.map-responsive iframe{
  position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.uk-text-title2{
  color: white;
  font-weight: 700;
}

.uk-text-label-form{
  color: white;
}

.uk-text-input-form{
  background: #0c3c7d;
  border-radius: 5px;
  color: white;
}

.uk-text-txtarea-form{
  resize: none;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 175px;
  max-height: 175px;
}


.uk-button-send-form{
  background: #4fa6d6;
  color: white;
  font-weight: 700;
  border-radius: 6px;
}

.uk-button-send-form:hover{
  background: #74bae0;
  text-decoration: underline;
  color: white;
}

.uk-button-send-form:active{
  background: #4fa6d6;
  color: white;
}

.uk-text-subtitle3{
  color: white;
  font-weight: 400;
}

.uk-text-subtitle3>strong{
  color: white;
}

.uk-text-subtitle3>strong{
  color: white;
}

.uk-text-roomprice{
  color: #333333;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1.4;
}

.uk-text-roomprice>b{
  color: #333333;
    font-weight: 700;
    font-size: 1.45rem;
    line-height: 1.4;
}

.uk-input-search{
    color: white;
    background-color: #53a2db;
    font-weight: bold;
    border: solid 2px white;
}


input.uk-input-search::-webkit-input-placeholder { /* Chrome */
  color: white;
  transition: opacity 250ms ease-in-out;
}
input.uk-input-search:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
input.uk-input-search:-ms-input-placeholder { /* IE 10+ */
  color: white;
  transition: opacity 250ms ease-in-out;
}
input.uk-input-search:focus:-ms-input-placeholder {
  opacity: 0.5;
}
input.uk-input-search::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
input.uk-input-search:focus::-moz-placeholder {
  opacity: 0.5;
}
input.uk-input-search:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
input.uk-input-search:focus:-moz-placeholder {
  opacity: 0.5;
}

.uk-icon-calendar-search>*, .uk-icon-calendar-search>svg, 
 .uk-icon-calendar-search>svg>path,  .uk-icon-calendar-search>svg>rect {
  color: white !important;
}

.uk-button-searchbook{
  background: white;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  padding: 0px 20px 0px 20px;
}

.uk-button-searchbook:hover{
  background: #d1d2d3;
  text-decoration: underline;
  color: white;
}

.uk-button-searchbook:active{
  background: #abbfd3;
  color: white;
}

.uk-icon-form-search>*, .uk-icon-form-search>svg, 
.uk-icon-form-search>svg>path,  .uk-icon-form-search>svg>circle {
  color: #3895d8; !important;
  width: 25px;
  height: 25px;
}

.uk-text-label-book{
  color: #0c3c7d;
}

.uk-text-input-book{
  background: #edeeef;
  border-radius: 5px;
  color: #0c3c7d;
  border-color: #0c3c7d;
}

.uk-text-txtarea-book{
  resize: none;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 185px;
  max-height: 185px;
}


.uk-overlay-thanks{
  background: rgba(56, 149, 216,.8);
}