{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Sr.Blankenbaker">
    <meta name="application-name" content="&nbsp;"/>

    <title>Escalón{% if title %} - {{ title }}{% endif %}</title>

    <meta property="og:title" content="Escalón"/>
    <meta property="og:type" content="website"/>

    <meta property="og:url" content="http://www.escalonhotel.com/"/>
    <meta property="og:site_name" content="Escalón Hotel"/>
    <meta property="og:description" content=""/>

    <!-- CSS -->
    <link href="{% static 'uikit/css/uikit.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,800" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/ico.ico' %}"/>
    
    {% block extra_head_css %}
    {% endblock %}

    <!-- JS -->
    <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <!--<script src="{% static 'js/functions.js' %}"></script>-->


     <!-- Scripts JS -->
    {% block extra_head_scripts %}
    {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    
    {% block container %}
    {% endblock %}
    
    {% block table_container %}
    {% endblock %}
    
    {% if messages %}
        {% for message in messages %}
            <script>
            {% if 'success' in message.tags %}
                UIkit.notification({message: '{{ message }}', status: 'success'});
            {% elif 'error' in message.tags %}
                UIkit.notification({message: '{{ message }}', status: 'danger'});
            {% else %}
                UIkit.notification({message: '{{ message }}', status: '{{ message.tags }}'});
            {% endif %}
            </script>
        {% endfor %}
    {% endif %}

    {% include "footer.html" %}

</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118122901-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-118122901-1');
</script>

</html>