{% load static %}

{% if room %}
<div class="uk-container ">

	
    	<div class="uk-text-center" uk-grid>
		    <div class="uk-width-1-2@m">

		        <div class="uk-card">
		        	
		        	<div class="uk-card-header">
                		<div class="uk-text-center">
                            <div class="uk-card-media-top" >
                            	
                            	{% if room.attach_files.all %}
	                                {% with room.attach_files.all|first as act %}
	                                    {% if act %}
	                                      <img src=" {{  act.get_attach_file_src.url }}" >
	                                    {% endif %}
	                                 {% endwith %}

                                {% endif %}
                            </div>
                        </div>
                    </div> 
                      
                	<div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom uk-text-left">

                        <h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-margin-small-bottom">{{ room.name }}</h4>
                        
                        <div class="uk-margin-small-bottom">
	                        <ul class="uk-iconnav">
	                        
	                            {%if room.service_types.all%}
	                            {% for service in room.service_types.all %}
	                                {% if service.id == 1 %}
	                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_aireacon.png' %});"></span></li>
	                                {% endif %}
	                                {% if service.id == 2 %}
	                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_wifi.png' %});"></span></li>
	                                {% endif %}
	                                {% if service.id == 3 %}
	                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_tv.png' %});"></span></li>
	                                {% endif %}
	                                {% if service.id == 9 %}
	                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_bano.png' %});"></span></li>
	                                {% endif %}
	                                {% if service.id == 5 %}
	                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_toallas.png' %});"></span></li>
	                                {% endif %}
	                            {%endfor%}
	                        	{% else %}   
	                                <li><p class="uk-descripcion-room uk-margin-small-top">No existe información para mostrar</p><li>
	                        	{% endif %}
	                                
	                        </ul>
	                    </div>

	                    
                    </div>

                    <div class="uk-card-footer uk-padding-remove-top uk-text-left">
                    	<a class="" href="#modal-{{ room.id }}" uk-toggle>Más información ❯</a>
                    	

                        <div class="uk-text-roomprice uk-text-uppercase"> <b>${{ room.week_price }}</b> por noche</div>

		               
                   	</div>


		        </div>
		   
		    </div>

		    <div class="uk-width-1-2@m">
		    	<div class="uk-card">
		        	
		        	<div class="uk-card-header">
                        <div class="uk-card-media-top uk-text-left" >
                        	<h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-margin-top uk-margin-bottom">Tu reserva</h4>
                        </div>
                    </div> 


                      
                	<div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom uk-text-left">
                		
                		<table id="uk-tb1" class="uk-table " >
						    <tbody >
						        <tr>
						            <td class="uk-padding-remove uk-table-expand">Precio por noche</td>
						            <td class="uk-padding-remove"><p>${{ room.week_price }}</p></td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove">Fechas</td>
						            <td class="uk-padding-remove uk-table-expand">{{ datein }} hasta {{ dateout }}</td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove">No. de noches</td>
						            <td class="uk-padding-remove">{{ days }}</td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove">Huéspedes</td>
						            <td class="uk-padding-remove">{{ guest }} </td>
						        </tr>
						        
						        {%if children%}
						        <tr>
						            <td class="uk-padding-remove">Niños</td>
						            <td class="uk-padding-remove">{{ children }}</td>
						        </tr>
						        {% endif %}

						        <tr>
						            <td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						          	<td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						        </tr>

						        {%if charge%}
						    	<tr>
						            <td class="uk-padding-remove-left uk-padding-remove-bottom">Total por noche</td>
						            <td class="uk-padding-remove-left uk-padding-remove-bottom">${{subtotal|floatformat:2 }}</td>
						        </tr>
						    	<tr>
						            <td class="uk-padding-remove-left uk-padding-remove-top uk-padding-remove-bottom">Cargos por persona adicional</td>
						            <td class="uk-padding-remove-left uk-padding-remove-top uk-padding-remove-bottom">${{charge|floatformat:2 }}</td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove-left uk-padding-remove-top uk-padding-remove-bottom">Subtotal</td>
						            <td class="uk-padding-remove-left uk-padding-remove-top uk-padding-remove-bottom">${{subtotal_charge|floatformat:2 }}</td>
						        </tr>
						        
						        {%else%}
						        <tr>
						            <td class="uk-padding-remove-left uk-padding-remove-bottom">Subtotal</td>
						            <td class="uk-padding-remove-left uk-padding-remove-bottom">${{subtotal|floatformat:2 }}</td>
						        </tr>
						        {% endif %}

						        
						        <tr>
						            <td class="uk-padding-remove-left uk-padding-remove-top uk-padding-remove-bottom">Impuestos (12%)</td>
						            <td class="uk-padding-remove-left uk-padding-remove-top uk-padding-remove-bottom">${{tax|floatformat:2 }}</td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						          	<td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove-left uk-padding-remove-top uk-padding-remove-bottom">Total</td>
						            <td class="uk-padding-remove-left uk-padding-remove-top uk-padding-remove-bottom ">${{total|floatformat:2 }}</td>
						        </tr>						        
						    </tbody>
						</table>

                    </div>

                    <div class="uk-card-footer uk-text-left">
                    	{% if valid == True %}
                    	<a id="id_book_{{room.id}}" class="uk-button uk-button-default uk-button-reservar" href="{% url 'book_steptwo' room=room.id  datein=datein dateout=dateout guest=guest children=children %}">Reservar</a>
                    	{%else %}
              			<h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-margin-small-bottom">Lo sentimos, para estas fechas no se encuentra disponible</h4>
                        
              			{%endif %}
		               
                   	</div>


		        </div>
		        
		         
		    </div>
		</div>
	
</div>

{% endif %}