
{% extends "base.html" %}
{% load static %}


{% block container %}
<div class="uk-card" style="background: #3895d8;">
    <div class="uk-padding">
        {% include "step1_book.html" with submit_value="Buscar" attr="" form_classes="uk-grid-small" show_help_texts_in_hidden="True" %}
    </div>
</div>

<div id="uk-seccion-list-rooms" class="uk-section uk-section-default uk-section-small">
    <div class="uk-container ">
        {% if object_list %}
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid uk-height-match="target: > div > .uk-card">
            {% for object in object_list %}
            
                <div class="uk-card uk-card-hover">

                	<div class="uk-card-header">
                		<div class="uk-text-center">
                            <div class="uk-card-media-top" >
                            	{% if object.attach_files.all %}
                                 {% with object.attach_files.all|first as act %}
                                    {% if act %}
                                      <img src=" {{  act.get_attach_file_src.url }}" >
                                    {% endif %}
                                  {% endwith %}

                                {% endif %}
                            </div>
                        </div>
                    </div> 
                     

                      

                	<div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom ">

                        <h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-margin-small-bottom">{{object.name}}</h4>
                        
                        <div class="uk-margin-small-bottom">
	                        <ul class="uk-iconnav">
	                        {%if object.service_types.all%}
                                {% for service in object.service_types.all %}
                                    {% if service.id == 1 %}
                                    <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_aireacon.png' %});"></span></li>
                                    {% endif %}
                                    {% if service.id == 2 %}
                                    <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_wifi.png' %});"></span></li>
                                    {% endif %}
                                    {% if service.id == 3 %}
                                    <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_tv.png' %});"></span></li>
                                    {% endif %}
                                    {% if service.id == 9 %}
                                    <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_bano.png' %});"></span></li>
                                    {% endif %}
                                    {% if service.id == 5 %}
                                    <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_toallas.png' %});"></span></li>
                                    {% endif %}
                                {%endfor%}
                            {% else %}    
	                                <li><p class="uk-descripcion-room uk-margin-small-top">No existe información para mostrar</p><li>
	                        {% endif %}
	                        </ul>
	                    </div>

	                    
                    </div>

                    <div class="uk-card-footer uk-padding-remove-top">
                    	<a class="" href="#modal-{{object.id}}" uk-toggle>Más información ❯</a>
                    	

                        <div class="uk-text-roomprice uk-text-uppercase"> <b>${{object.week_price}}</b> por noche</div>

		                <a id="id_book_{{object.id}}" class="uk-button uk-button-default uk-button-reservar" onclick="bookstepone({{object.id}})">Reservar</a>


                   	</div>

                	<div id="modal-{{object.id}}" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical">

                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <div class="uk-modal-header">
                                    <h3 class="uk-modal-title">{{object.name}}</h3>
                                </div>

                            </div>
                    </div>

                </div>

               
        {% endfor %}
        </div>
        {% else %}
            <p>No existe información para mostrar.</p>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
	function bookstepone(r){
        if( $("#id_date_in").val().length > 0 && $("#id_date_out").val().length > 0) {
    		$.ajax({
                url: "{% url 'ajax_book_stepone' %}",
                data: {
                'r': r,
                'di':$("#id_date_in").val(),
                'do':$("#id_date_out").val(),
                'g': $("#id_guest").val().length == 0 ?  1 : $("#id_guest").val(),
                'c': $("#id_children").val().length == 0 ?  0 : $("#id_children").val()
                },
                success: function (data) {
                	$("#uk-seccion-list-rooms").hide();
                    $("#uk_seccion_book_room").html(data);
                }
            });
        }else{
            if( $("#id_date_in").val().length == 0 ) 
                UIkit.notification({message: 'Debe escoger una fecha de entrada para reservar.', status: 'danger'});
            else if( $("#id_date_out").val().length == 0 ) 
                UIkit.notification({message: 'Debe escoger una fecha de salida para reservar.', status: 'danger'});
            else  
                UIkit.notification({message: 'Exite un problema.', status: 'danger'});

        }      
	}

</script>


<div id="uk_seccion_book_room"  class="uk-section uk-section-default uk-section-small" style="background: #edeeef;">
</div>



{% endblock %}



