{% extends "base.html" %}
{% load static %}

{% block container %}

<div id="uk_seccion_book_room"  class="uk-section uk-section-default uk-section-small" style="background: #edeeef;">


<div class="uk-container ">

	
    	<div class="uk-text-center" uk-grid>
		    
		    <div class="uk-width-1-3@m">

		        <div class="uk-card">
		        	
		        	<div class="uk-card-header">
                		<div class="uk-text-center">
                            <div class="uk-card-media-top" >
                            	<h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-margin-top uk-margin-bottom uk-text-left uk-margin-small-bottom">Resumen de la reserva</h4>

                            	<hr class="uk-border-top-title-room uk-margin-bottom uk-margin-medium-right">

                            	
                            	{% if room.attach_files.all %}
	                                {% with room.attach_files.all|first as act %}
	                                    {% if act %}
	                                      <img src=" {{  act.get_attach_file_src.url }}" >
	                                    {% endif %}
	                                 {% endwith %}

                                {% endif %}
                            </div>
                        </div>
                    </div> 
                      
                	<div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom uk-text-left">

                		<table id="uk-tb1" class="uk-table" style="margin-bottom: 20px;">
						    <tbody >
						        <tr>
						            <td class="uk-padding-remove uk-table-expand">Tipo de habitación</td>
						            <td class="uk-padding-remove"><p>{{ room.name }}</p></td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove">Fechas</td>
						            <td class="uk-padding-remove uk-table-expand">{{ date_in }} hasta {{ date_out }}</td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove">No. de noches</td>
						            <td class="uk-padding-remove">{{ days }}</td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove">Huéspedes</td>
						            <td class="uk-padding-remove">{{ guest }} </td>
						        </tr>
						        
						        {%if children%}
						        <tr>
						            <td class="uk-padding-remove">Niños</td>
						            <td class="uk-padding-remove">{{ children }}</td>
						        </tr>
						        {% endif %}

						        <tr>
						            <td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						          	<td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						        </tr>
						    </tbody>
						</table>

                      	<table id="uk-tb2" class="uk-table" style="margin-bottom: 20px;">
						    <tbody>

						    	{%if charge%}
						    	<tr>
						            <td class="uk-padding-remove uk-table-expand">Total por noche</td>
						            <td class="uk-padding-remove  uk-text-right">${{subtotal|floatformat:2 }}</td>
						        </tr>
						    	<tr>
						            <td class="uk-padding-remove uk-table-expand">Cargos por persona adicional</td>
						            <td class="uk-padding-remove  uk-text-right">${{charge|floatformat:2 }}</td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove">Subtotal</td>
						            <td class="uk-padding-remove  uk-text-right">${{subtotal_charge|floatformat:2 }}</td>
						        </tr>
						        
						        {%else%}
						        <tr>
						            <td class="uk-padding-remove">Subtotal</td>
						            <td class="uk-padding-remove  uk-text-right"><p>${{subtotal|floatformat:2 }}</p></td>
						        </tr>
						        {% endif %}

						        
						        <tr>
						            <td class="uk-padding-remove">Impuestos (12%)</td>
						            <td class="uk-padding-remove  uk-text-right"><p>${{tax|floatformat:2 }}</p></td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						          	<td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						        </tr>
						        <tr>
						            <td class="uk-padding-remove">Total</td>
						            <td class="uk-padding-remove  uk-text-right"><p>${{total|floatformat:2 }}</p></td>
						        </tr>
						    </tbody>
						</table>

	                    
                    </div>

		        </div>
		   
		    </div>


		    <div class="uk-width-expand@m">
		    	<div class="uk-card">

                	<div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom uk-text-left">
                		
                		{% load staticfiles %}
						{% load widget_tweaks %}

						{% block extra_head_css %}
						<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
						{% endblock %}
						{% block extra_head_scripts %}
						<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
						{% endblock %}

				        <h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-text-uppercase uk-margin-small-bottom"">Datos del huésped</h4>

				        <hr class="uk-border-top-title-room uk-margin-bottom uk-margin-medium-right">

				        <form {% if form_id %} id="{{form_id}}" {% endif%} {%if form_classes%} class="{{form_classes}}" {% endif %}  action="" method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} {% if form_style %} style="{{ form_style }}" {% endif %} >
				        	{% csrf_token %}
				        	{{ form.media }}

				        	{% for field in form.hidden_fields %}
				                {{ field }}                       
				            {% endfor %} 

				            {{ form.errors }}
							{{ form.non_field_errors }}


				            {% if form.errors %}
				             <ul>
				            {% for field in form.visible_fields %}
				                {% if field.errors %}
				                        <dl class="uk-description-list uk-text-danger">
				                        {% for error in field.errors %}
				                            <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
				                        {% endfor %}
				                        </dl>
				                                
				                {% endif %}                              
				            {% endfor %}    
				             </ul>                           
				            {% endif%}

				            <div class="uk-child-width-1-1@m " uk-grid>

				                <div class="uk-child-width-expand@s" uk-grid >
				                    <div>
				                        {% for field in form.visible_fields %}
				                        {% if field.name == "first_name" %}
				                       
				                            {% if not hide_labels and not field.label == "#hide#" %}
				                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
				                                {{ field.label }} {% if field.field.required %}(*){% endif %} :
				                            </label>
				                            {% endif%}

				                            <div id="id-{{field.name}}-div" class="uk-form-controls">
				                            {% if field.errors %}
				                                {{field|add_class:"uk-form-danger"}}
				                            {% else %}
				                                {{ field }}
				                             {% endif %}
				                            </div>

				                            
				                            {% if show_help_texts %}
				                                {{ field.help_text }}
				                            {% endif %}
				                        
				                        {%endif%}   
				                        {% endfor %}
				                    </div>

				                    <div>
				                        {% for field in form.visible_fields %}
				                        {% if field.name == "last_name"  %}
				                       
				                            {% if not hide_labels and not field.label == "#hide#" %}
				                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
				                                {{ field.label }} {% if field.field.required %}(*){% endif %}
				                            </label>
				                            {% endif%}

				                            <div id="id-{{field.name}}-div" class="uk-form-controls">
				                            {% if field.errors %}
				                                {{field|add_class:"uk-form-danger"}}
				                            {% else %}
				                                {{ field }}
				                            {%endif%} 
				                            </div>

				                            {% if show_help_texts %}
				                                {{ field.help_text }}
				                            {% endif %}
				                        
				                        {%endif%}   
				                        {% endfor %}
				                    </div>
				                </div>


				                <div class="uk-child-width-expand@s uk-margin-small-top" uk-grid >
				                    <div>
				                        {% for field in form.visible_fields %}
				                        {% if  field.name == "email" %}
				                       
				                            {% if not hide_labels and not field.label == "#hide#" %}
				                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold uk-text-label-book">
				                                {{ field.label }} {% if field.field.required %}(*){% endif %}
				                            </label>
				                            {% endif%}

				                            <div id="id-{{field.name}}-div" class="uk-form-controls">
				                            {% if field.errors %}
				                                {{field|add_class:"uk-form-danger"}}
				                            {% else %}
				                                {{ field }}
				                             {% endif %}
				                            </div>

				                            
				                            {% if show_help_texts %}
				                                {{ field.help_text }}
				                            {% endif %}
				                        
				                        {%endif%}   
				                        {% endfor %}
				                    </div>

				                    <div>
				                        {% for field in form.visible_fields %}
				                        {% if field.name == "phone" %}
				                       
				                            {% if not hide_labels and not field.label == "#hide#" %}
				                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
				                                {{ field.label }} {% if field.field.required %}(*){% endif %}
				                            </label>
				                            {% endif%}

				                            <div id="id-{{field.name}}-div" class="uk-form-controls">
				                            {% if field.errors %}
				                                {{field|add_class:"uk-form-danger"}}
				                            {% else %}
				                                {{ field }}
				                            {%endif%} 
				                            </div>

				                            {% if show_help_texts %}
				                                {{ field.help_text }}
				                            {% endif %}
				                        
				                        {%endif%}   
				                        {% endfor %}
				                    </div>
				                    
				                </div>

				        
				        
				                <div class="uk-child-width-expand@s uk-margin-small-top" uk-grid >
				                    <div>
				        
				                    {% for field in form.visible_fields %}    
				                    {% if field.name == "requirements" %}
				                        
				                        {% if not hide_labels and not field.label == "#hide#" %}
				                        <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
				                            {{ field.label }} {% if field.field.required %}(*){% endif %}
				                        </label>
				                        {% endif%}

				                        <div id="id-{{field.name}}-div" class="uk-form-controls">
				                        {% if field.errors %}
				                            {{field|add_class:"uk-form-danger"}}
				                        {% else %}
				                            {{ field }}
				                        {%endif%} 
				                        </div>

				                
				                        {% if show_help_texts %}
				                            {{ field.help_text }}
				                        {% endif %}
				            
				                    {%endif%}
				                    {% endfor %}
				                    </div>

				                    <div>
				                    	<div class="uk-margin">
				                    		<div class="uk-card uk-card-small ">
				                    			{% for field in form.visible_fields %}
						                        {% if field.name == "country" %}
						                       
						                            {% if not hide_labels and not field.label == "#hide#" %}
						                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
						                                {{ field.label }} {% if field.field.required %}(*){% endif %}
						                            </label>
						                            {% endif%}

						                            <div id="id-{{field.name}}-div" class="uk-form-controls">
						                            {% if field.errors %}
						                                {{field|add_class:"uk-form-danger"}}
						                            {% else %}
						                                {{ field }}
						                            {%endif%} 
						                            </div>

						                            {% if show_help_texts %}
						                                {{ field.help_text }}
						                            {% endif %}
						                        
						                        {%endif%}   
						                        {% endfor %}
				                    		</div>
				                    	</div>

				                    	<div class=" uk-margin">
				                    		<div id="id-terms_conditions-div" class="uk-card uk-card-small ">
				                    		</div>
				                    	</div>
				                    	
				                    	<div class="uk-margin">
				                    		<div class="uk-card uk-card-small ">
				                    			
				                    			{% if not noFormActions%}
								                    <div class="form-actions uk-flex uk-flex-right">
								                        <input id="id_1_{{ submit_value }}" class="uk-button uk-button-default uk-text-uppercase uk-button-reservar  uk-width-expand " type="submit" value="Reserva una habitación" /> 
								                    </div>
								                {% endif%}
				                    		</div>
				                    	</div>

				                        
				                    </div>
				                </div>

				             </div>


				              <script>
								var textNode = document.createTextNode(' Al completar esta reserva, acuerdo que he leído y aceptado las ');
								var a = document.createElement('a');
								a.setAttribute('href','{% url 'index' %}');
								var aText = document.createTextNode('Políticas de Propiedad.');
								a.append(aText);
								$('#id-terms_conditions-div').append(textNode);
								$('#id-terms_conditions-div').append(a);
							</script>


				        </form>


                    </div>

                  

		        </div>
		        
		         
		    </div>
		</div>
	
</div>

</div>


{% endblock %}