{% extends "base.html" %}
{% load static %}


{% block container %}

<div class="uk-card uk-child-width-1-2@s uk-margin-remove" style="background: #0c3c7d;" uk-grid >
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-padding-remove">
            <div class="map-responsive">
                <iframe width="500" height="600" src="https://maps.google.com/maps?width=500&amp;height=600&amp;hl=en&amp;coord=-2.1733447,-79.9104711&amp;q=El%20Escalon%20Hotel%2C%20Manuel%20Rend%C3%B3n%20Seminario%2C%20Guayaquil%2C%20Ecuador+(El%20Escalon%20Hotel)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://escalonhotel.com/">El Escalón Hotel</a></iframe>

             </div>
        </div>

        <div class="uk-padding-left uk-padding-right uk-padding-remove-top uk-first-column">
            
                {% include "contactform.html" with submit_value="Enviar" attr="" form_classes="uk-form-stacked" show_help_texts_in_hidden="True" %}
            
        </div>
    </div>
    
    
{% endblock %}