{% load static %}
{% load staticfiles %}
{% load i18n %}
{% autoescape off %}
<!DOCTYPE html>
<html xmlns:v="urn:schemas-microsoft-com:vml">
<body>
<table border="0" bgcolor="#fafafa" cellspacing="0" cellpadding="0" style="background: #fafafa; border-collapse: collapse; font-family: Arial,sans-serif; font-weight: normal; margin: 0; padding: 0; width: 100%" width="100%" height="100%">
    <tr>
        <td>
            <table style="border-collapse:collapse;font-family:Arial,sans-serif;font-weight:normal;margin:0 auto;max-width:600px;min-width:600px;width:600px" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td>
                        <div style="padding:30px;background: #ffffff;border-collapse: collapse;border: 2px solid #13274b;color: #13274b;font-family:Roboto,arial;font-size:14px;line-height:24px;font-weight: normal;width: 598px;border-radius: 0;">

                            <h3 style="text-align: center;">EL ESCALÓN HOTEL</h3>
    
                            <div style="height: 3px;background: #476C7B;margin-top:15px;margin-bottom:15px;margin-bottom:10px;"></div>

                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width:140px"><img src="{% static 'img/logo.png' %}" height="90px"></td>
                                        <td>
                                            <p>{% trans "Estimado" %}</p>

                                           
                                            <p>
                                                {% blocktrans %}El usuario <strong> {{first_name}} {{last_name}} </strong> desea realizar un <strong> evento tipo {{type_event}}</strong>, y desea tener información sobre la misma.  
                                                {% endblocktrans %}
                                            </p>
                                            
                                            <p> El evento presenta los siguientes detalles:</p>
                                            
                                            
                                            {%if date_event %}
                                            <p> Fecha del evento: {{date_event}}.</p>
                                            {%endif%}
                                            {%if num_persons %}
                                            <p> Número de personas: {{num_persons}}.</p>
                                            {%endif%}
                                            


                                            {%if message %}
                                            <p> Además ha ingresado el siguiente mensaje: {{message}}.</p>
                                            {%endif%}

                                            
                                            <p>Cominíquese pronto con el usuario mediante el correo: <strong>{{email}}</strong>.{%if phone %}
                                             O vía telefónica al número: {{phone}}.
                                            {%endif%}
                                            </p>
                                           
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div style="height: 3px;background: #476C7B;margin-top:15px;margin-bottom:15px;margin-bottom:10px"></div>
                            <p>
                                {% blocktrans %}Nuestros mejores deseos,{% endblocktrans %}
                                <br><b>{% blocktrans %}El equipo de {{ site_name }}.{% endblocktrans %}</b>
                            </p>
                        </div>

                        <div style="background: #D8D8D8;font-size: 14px;">
                            <div style="color: #13274b;padding: 5px;margin: 15px;text-align: center;background-color: rgba(256,256,256,0.5);">
                                <p>
                                    {% trans "Este correo fue generado automáticamente" %}.
                                    <br>
                                    <a href="{{ domain }}" style="color: #000668; text-decoration: none;">{{ domain }}</a>
                                </p>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr><td style="height:60px"></td></tr>

            </table>
        </td>
    </tr>
</table>
</body>
</html>
{% endautoescape %}