{% load static %}
{% load staticfiles %}
{% load i18n %}
{% autoescape off %}
<!DOCTYPE html>
<html xmlns:v="urn:schemas-microsoft-com:vml">
<body>
<table border="0" bgcolor="#fafafa" cellspacing="0" cellpadding="0" style="background: #fafafa; border-collapse: collapse; font-family: Arial,sans-serif; font-weight: normal; margin: 0; padding: 0; width: 100%" width="100%" height="100%">
    <tr>
        <td>
            <table style="border-collapse:collapse;font-family:Arial,sans-serif;font-weight:normal;margin:0 auto;max-width:600px;min-width:600px;width:600px" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td>
                        <div style="padding:30px;background: #ffffff;border-collapse: collapse;border: 2px solid #13274b;color: #13274b;font-family:Roboto,arial;font-size:14px;line-height:24px;font-weight: normal;width: 598px;border-radius: 0;">

                            <h3 style="text-align: center;">EL ESCALÓN HOTEL</h3>
    
                            <div style="height: 3px;background: #476C7B;margin-top:15px;margin-bottom:15px;margin-bottom:10px;"></div>

                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width:140px"><img src="{% static 'img/logo.png' %}" height="90px"></td>
                                        <td>
                                            <p>{% trans "Estimado," %}</p>

                                            <p>
                                                {% blocktrans %}Hemos recibido una reserva desde el website, adjuntamos el detalle.  
                                                {% endblocktrans %}
                                            </p>
                                            <br>
                                            <p><strong>DATOS DEL HUESPED</strong></p>
                                            <p> {% blocktrans %}NOMBRE: {{first_name}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}APELLIDO: {{last_name}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}EMAIL: {{email}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}TELEFONO: {{phone}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}PAIS: {{country}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}REQUERIMIENTOS: {{requirements}}{% endblocktrans %}</p>

                                            <br>
                                            <p><strong>DATOS DE LA RESERVA</strong></p>
                                            <p> {% blocktrans %}HABITACIÓN: {{room_name}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}FECHA DE ENTRADA: {{date_in}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}FECHA DE SALIDA: {{date_out}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}CANTIDAD DE HUESPEDES: {{guest}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}NINOS: {{children}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}SUBTOTAL: ${{subtotal}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}TASAS: ${{tax}}{% endblocktrans %}</p>
                                            <p> {% blocktrans %}TOTAL: ${{total}} {% endblocktrans %}</p>
                                            <br><br>
                                            <p>{% blocktrans %}Si desea cominicarse con el usuario puede escribirle a su correo: {{book.email}}.{% endblocktrans %}</p>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div style="height: 3px;background: #476C7B;margin-top:15px;margin-bottom:15px;margin-bottom:10px"></div>
                            <p>{% blocktrans %}Atentamente,{% endblocktrans %}</p>
                            <p> Webmaster</p>
                            <p><b>{% blocktrans %}{{ site_name }}{% endblocktrans %}</b></p>
                        </div>

                        <div style="background: #D8D8D8;font-size: 14px;">
                            <div style="color: #13274b;padding: 5px;margin: 15px;text-align: center;background-color: rgba(256,256,256,0.5);">
                                <p>
                                    {% trans "Este correo fue generado automáticamente" %}.
                                    <br>
                                    <a href="{{ domain }}" style="color: #000668; text-decoration: none;">{{ domain }}</a>
                                </p>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr><td style="height:60px"></td></tr>

            </table>
        </td>
    </tr>
</table>
</body>
</html>
{% endautoescape %}