{% load static %}

<div class="">
    <div class="uk-container uk-container-small uk-padding-remove">

		{% load staticfiles %}
		{% load widget_tweaks %}

		{% block extra_head_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
		{% endblock %}
		{% block extra_head_scripts %}
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		{% endblock %}

        <h3 class="uk-text-left uk-text-bold uk-text-title2 uk-text-uppercase uk-margin-small-bottom"">{{title}}</h3>
        <hr class="uk-border-top-title-room uk-margin-bottom uk-margin-medium-right">

        <form {% if form_id %} id="{{form_id}}" {% endif%} {%if form_classes%} class="{{form_classes}}" {% endif %}  action="" method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} {% if form_style %} style="{{ form_style }}" {% endif %} >
        	{% csrf_token %}
        	{{ form.media }}

            {% if form.errors %}
             <ul>
            {% for field in form.visible_fields %}
                {% if field.errors %}
                        <dl class="uk-description-list uk-text-danger">
                        {% for error in field.errors %}
                            <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
                        {% endfor %}
                        </dl>
                                
                {% endif %}                              
            {% endfor %}    
             </ul>                           
            {% endif%}

            <div class="uk-child-width-1-1@m " uk-grid>


                <div class="uk-child-width-expand@s" uk-grid >
                    <div>
                        {% for field in form.visible_fields %}
                        {% if field.name == "first_name" or field.name == "email" or field.name == "date_event"%}
                       
                            {% if not hide_labels and not field.label == "#hide#" %}
                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-form" style="margin-top: 10px;">
                                {{ field.label }} {% if field.field.required %}(*){% endif %} :
                            </label>
                            {% endif%}

                            <div id="id-{{field.name}}-div" class="uk-form-controls">
                            {% if field.errors %}
                                {{field|add_class:"uk-form-danger"}}
                            {% else %}
                                {{ field }}
                             {% endif %}
                            </div>

                            
                            {% if show_help_texts %}
                                {{ field.help_text }}
                            {% endif %}
                        
                        {%endif%}   
                        {% endfor %}
                    </div>

                    <div>
                        {% for field in form.visible_fields %}
                        {% if field.name == "last_name" or field.name == "phone" or field.name == "num_persons"%}
                       
                            {% if not hide_labels and not field.label == "#hide#" %}
                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-form" style="margin-top: 10px;">
                                {{ field.label }} {% if field.field.required %}(*){% endif %}
                            </label>
                            {% endif%}

                            <div id="id-{{field.name}}-div" class="uk-form-controls">
                            {% if field.errors %}
                                {{field|add_class:"uk-form-danger"}}
                            {% else %}
                                {{ field }}
                            {%endif%} 
                            </div>

                            {% if show_help_texts %}
                                {{ field.help_text }}
                            {% endif %}
                        
                        {%endif%}   
                        {% endfor %}
                    </div>
                </div>

                <div class="uk-child-width-expand@s uk-margin-small-top" uk-grid >
                    <div>
        
                    {% for field in form.visible_fields %}    
                    {% if field.name == "message" %}
                        
                        {% if not hide_labels and not field.label == "#hide#" %}
                        <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-form" style="margin-top: 10px;">
                            {{ field.label }} {% if field.field.required %}(*){% endif %}
                        </label>
                        {% endif%}

                        <div id="id-{{field.name}}-div" class="uk-form-controls">
                        {% if field.errors %}
                            {{field|add_class:"uk-form-danger"}}
                        {% else %}
                            {{ field }}
                        {%endif%} 
                        </div>

                
                        {% if show_help_texts %}
                            {{ field.help_text }}
                        {% endif %}
            
                    {%endif%}
                    {% endfor %}
                    </div>
                </div>


                <div class="uk-child-width-expand@s uk-margin-small-top uk-grid uk-grid-margin uk-first-column uk-grid-stack">
                {% if not noFormActions%}
                    <div class="form-actions uk-flex uk-flex-right">
                        <input id="id_1_{{ submit_value }}" class="uk-button uk-width-1-3 uk-button-send-form" type="submit" value="{{ submit_value }}" /> 
                    </div>
                {% endif%}

                </div>

            
             </div>

            <script>
                $( function() {
                    $( ".datepicker" ).datepicker({
                        dateFormat: "yy-mm-dd",
                        minDate: "+0D",
                        maxDate: "+1Y",
                        yearRange: "1900:+1",
                        dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
                        dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
                        monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
                        monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ],
                        nextText: "Siguiente",
                        prevText: "Antes",
                        navigationAsDateFormat: true,
                        selectOtherMonths: true,
                        showOtherMonths: true,
                        changeMonth: true,
                        changeYear: true,

                    });
                } );
            </script>
            
        </form>

      

    </div>
</div>
