{% load static %}
<div id="footer" style="background: #0c3c7d">

    <div>
		
        <div id="offcanvas-push2"  uk-offcanvas="overlay: true">

            <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide uk-offcanvas-bar-toogle">
                <ul class="uk-nav uk-nav-parent-icon" uk-nav>
                    <li class="uk-link-toogle"><a href=""><span class=" uk-icon uk-icon-button" uk-icon="receiver"></span> 042-388239</a></li>
                    <li class="uk-link-toogle"><a href=""><span class=" uk-icon uk-icon-button" uk-icon="mail"></span> reservas@escalonhotel.com</a></li>              
                    <li class="uk-link-toogle"><a href=""><span class=" uk-icon uk-icon-button" uk-icon="location"></span> Urdesa, Diagonal #419 y Circunvalación Sur</a></li>
                    <li><a href="https://www.facebook.com/escalonhotel/" target="_blank" class="uk-padding-remove-right"><span class=" uk-icon uk-icon-button" uk-icon="facebook"></span></a></li>
                    <li><a href="https://twitter.com/escalonhotel" target="_blank" class="uk-padding-remove"><span class="uk-icon uk-icon-button" uk-icon="twitter"></span></a></li>
                    <li><a href="https://www.instagram.com/escalonhotel/" target="_blank" class="uk-padding-remove"><span class="uk-icon uk-icon-button" uk-icon="instagram"></span></a></li>
                    <li><a href="https://www.pinterest.com/escalonhotel/" target="_blank" class="uk-padding-remove"><span class="uk-icon uk-icon-button" uk-icon="pinterest"></span></a></li>
                </ul>
            </div>
        </div>

        <nav class="uk-navbar-container" uk-navbar style="background: #0c3c7d">
            <div class="uk-navbar-right uk-visible@m">

                <ul class="uk-navbar-nav">
					<li class="uk-link-footer">
						<div id="TA_excellent360" class="TA_excellent">
							<ul id="wKbhQ6Kcp" class="TA_links SgTK1Tu">
								<li id="Ti0bV0RBv0" class="q4jxFhWIac">
									<a target="_blank" href="https://www.tripadvisor.es/"><img src="https://static.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO"/></a>
								</li>
							</ul>
						</div>
					<script async src="https://www.jscache.com/wejs?wtype=excellent&amp;uniq=360&amp;locationId=7623368&amp;lang=es&amp;display_version=2"></script>
					</li>
                    <li class="uk-link-footer"><a href=""><span class="uk-margin-small-right uk-icon uk-icon-button" uk-icon="receiver"></span> 042-388239</a></li>
                    <li class="uk-nav-divider uk-nav-divider-footer"></li>
                    
                    <li class="uk-link-footer"><a href=""><span class="uk-margin-small-right uk-icon uk-icon-button" uk-icon="mail"></span> reservas@escalonhotel.com</a></li>
                    <li class="uk-nav-divider uk-nav-divider-footer"></li>
                    
                    <li class="uk-link-footer"><a href=""><span class="uk-margin-small-right uk-icon uk-icon-button" uk-icon="location"></span> Urdesa, Diagonal #419 y Circunvalación Sur</a></li>
                    <li class="uk-nav-divider uk-nav-divider-footer"></li>
                    
                    <li><a href="https://www.facebook.com/escalonhotel/" target="_blank" class="uk-padding-remove-right"><span class="uk-margin-small-right uk-icon uk-icon-button" uk-icon="facebook"></span></a></li>
                    <li><a href="https://twitter.com/escalonhotel" target="_blank" class="uk-padding-remove"><span class="uk-margin-small-right uk-icon uk-icon-button" uk-icon="twitter"></span></a></li>
                    <li><a href="https://www.instagram.com/escalonhotel/" target="_blank" class="uk-padding-remove"><span class="uk-margin-small-right uk-icon uk-icon-button" uk-icon="instagram"></span></a></li>
                    <li><a href="https://www.pinterest.com/escalonhotel/" target="_blank" class="uk-padding-remove"><span class="uk-margin-small-right uk-icon uk-icon-button" uk-icon="pinterest"></span></a></li>
                </ul>
				
            </div>
            <div class="uk-navbar-right uk-hidden@m">
                <a uk-navbar-toggle-icon="menu" href="#offcanvas-push2" uk-toggle="" class="uk-hidden@m " ratio="1.5" style="background: white;" ></a>
            </div>

        </nav>
    </div>
</div>