
{% load widget_tweaks %}
{% load static %}

{% block extra_head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
{% endblock %}
{% block extra_head_scripts %}
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

{% endblock %}

<form {% if form_id %} id="{{form_id}}" {% endif%} {%if form_classes%} class="{{form_classes}}" {% endif %}  action="" method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} {% if form_style %} style="{{ form_style }}" {% endif %} >
    {% csrf_token %}
    {{ form.media }}

    {{ form.non_field_errors }}
    <div>
        {% for field in form.visible_fields %}
            <div class="uk-margin">
                {% if not hide_labels and not field.label == "#hide#" %}
                    <label id="label_{{ field.id_for_label }}" class="uk-form-label {% if field.errors %}uk-text-danger{% endif %}">
                        {{ field.label }} {% if field.field.required %}(*){% endif %} :
                    </label>
                {% endif%}
                <div id="id-{{field.name}}-div" class="uk-form-controls">
                    {% if field.errors %}
                            {{field|add_class:"uk-form-danger"}}
                                <dl class="uk-description-list uk-text-danger">
                                {% for error in field.errors %}
                                    <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
                                {% endfor %}
                                </dl>
                    {% else %}
                            {{ field }}
                    {% endif %}
                </div>
                {% if show_help_texts %}
                    {{ field.help_text }}
                {% endif %}
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}

            {{ field }}

            <dl class="uk-description-list uk-text-danger">
            {% for error in field.errors %}
                <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
            {% endfor %}
            </dl>

            {% if show_help_texts_in_hidden %}
                <div>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Info:</strong> {{ field.help_text | safe }}
                </div>
            {% endif %}

        {% endfor %}

        {% if formset_1%}
            {% block formset_1 %}
            {{ formset_1.management_form }}
            <h5>{{ formset_1.verbose_name }}</h5>
            <div id="{{formset_1.prefix}}">
                {% for form in formset_1 %}
                <div class="uk-margin uk-tile uk-tile-muted uk-border-2 uk-padding-small" row="{{ forloop.counter0 }}">

                    {% for field in form %}
                        {% if not field.label in excluded_fields %}
                            <div class="uk-margin" >
                                <label class="uk-form-label">
                                    {{ field.label }} {% if field.field.required %}(*){% endif %} :
                                </label>
                                <div class="uk-form-controls">
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.last %}
                        <div class="uk-button-group uk-text-center">
                            <div>
                                <input type="button" class="delete-{{formset_1.prefix}} uk-button uk-button-small uk-button-danger" onclick="deleteRow1('{{formset_1.prefix}}', this);" value="Quitar" >
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% if form.errors %}
                        <div class="uk-alert uk-alert-danger uk-form-error">
                             {% for error in form.errors.values %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                {% endfor %}
            </div>
            <input id='agregar-{{formset_1.prefix}}' type="button" value="Agregar" class="uk-width-small uk-button uk-button-default uk-button-small" onclick="addRow1('{{formset_1.prefix}}', this);">


            <script>
                document.getElementById("id_{{formset_1.prefix}}-TOTAL_FORMS").value = $('#{{formset_1.prefix}}').children().length;
                validate_max_formset_1();
                validate_min_formset_1();
                function addRow1(table_id, row){
                    var form_idx = $('#{{formset_1.prefix}}').children().length!=0?$('#{{formset_1.prefix}} .uk-tile:last-child').attr('row'):-1;
                    form_idx = (form_idx * 1) + 1;
                    var row_text = '{% with formset_1.empty_form as form %}' +
                        '<div class="uk-margin uk-tile uk-tile-muted uk-border-2 uk-padding-small" row="__prefix__">' +

                        {% for field in form %}
                        {% if not field.label in excluded_fields %}
                        '<div class="uk-margin">' +
                        '<label class="uk-form-label">' +
                            '{{ field.label }} {% if field.field.required %}(*){% endif %} :' +
                        '</label>' +
                        '<div class="uk-form-controls">{{ field|escapejs }}</div>' +
                        '</div>' +
                        {% endif %}

                        {% if forloop.last %}
                            '<div class="uk-button-group uk-text-center"><div><input type="button" class="delete-{{formset_1.prefix}} uk-button uk-button-small uk-button-danger" onclick="deleteRow1(\'{{formset_1.prefix}}\', this);" value="Quitar" ></div></div>' +
                        {% endif %}
                        {% endfor %}
                        '</div>' +
                        '{% endwith %}';
                    var raw_row = row_text.replace(/__prefix__/g, form_idx);
                    $('#{{formset_1.prefix}}').append(raw_row);
                    document.getElementById("id_{{formset_1.prefix}}-TOTAL_FORMS").value = $('#{{formset_1.prefix}}').children().length;
                    load_help_funtion_1();
                    validate_max_formset_1();
                    validate_min_formset_1();
                };
                function validate_max_formset_1(){
                    total = parseInt(document.getElementById("id_{{formset_1.prefix}}-TOTAL_FORMS").value)
                    max = parseInt(document.getElementById("id_{{formset_1.prefix}}-MAX_NUM_FORMS").value)
                    if (total >= max){
                        $('#agregar-{{formset_1.prefix}}').hide();
                    }else{
                        $('#agregar-{{formset_1.prefix}}').show();
                    }
                }
                function validate_min_formset_1(){
                    total = parseInt(document.getElementById("id_{{formset_1.prefix}}-TOTAL_FORMS").value)
                    min = parseInt(document.getElementById("id_{{formset_1.prefix}}-MIN_NUM_FORMS").value)
                    if (total <= min){
                        $('.delete-{{formset_1.prefix}}').hide();
                    }else{
                        $('.delete-{{formset_1.prefix}}').show();
                    }
                }
            </script>
            <script>
                function deleteRow1(table_id, row){
                    var padre = row.parentNode.parentNode.parentNode.parentNode;
                    var hijo = row.parentNode.parentNode.parentNode;
                    padre.removeChild(hijo);
                    total_forms = document.getElementById("id_{{formset_1.prefix}}-TOTAL_FORMS");
                    form_idx = total_forms.value;
                    total_forms.value = (form_idx * 1) - 1;
                    intitial_forms = document.getElementById("id_{{formset_1.prefix}}-INITIAL_FORMS");
                    intitial_forms.value = total_forms.value;
                    validate_max_formset_1();
                    validate_min_formset_1();
                }
            </script>


            {% endblock formset_1 %}
        {% endif %}

        {% if formset_2%}
            {% block formset_2 %}
            {{ formset_2.management_form }}
            <h5>{{ formset_2.verbose_name }}</h5>
            <div id="{{formset_2.prefix}}">
                {% for form in formset_2 %}
                <div class="uk-margin uk-tile uk-tile-muted uk-border-2 uk-padding-small" row="{{ forloop.counter0 }}">

                    {% for field in form %}
                        {% if not field.label in excluded_fields %}
                            <div class="uk-margin" >
                                <label class="uk-form-label">
                                    {{ field.label }} {% if field.field.required %}(*){% endif %} :
                                </label>
                                <div class="uk-form-controls">
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.last %}
                        <div class="uk-button-group uk-text-center">
                            <div>
                                <input type="button" class="delete-{{formset_2.prefix}} uk-button uk-button-small uk-button-danger" onclick="deleteRow2('{{formset_2.prefix}}', this);" value="Quitar" >
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% if form.errors %}
                        <div class="uk-alert uk-alert-danger uk-form-error">
                             {% for error in form.errors.values %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                {% endfor %}
            </div>
            <input id='agregar-{{formset_2.prefix}}' type="button" value="Agregar" class="uk-width-small uk-button uk-button-default uk-button-small" onclick="addRow2('{{formset_2.prefix}}', this);">


            <script>
                document.getElementById("id_{{formset_2.prefix}}-TOTAL_FORMS").value = $('#{{formset_2.prefix}}').children().length;
                validate_max_formset_2();
                validate_min_formset_2();
                function addRow2(table_id, row){
                    var form_idx = $('#{{formset_2.prefix}}').children().length!=0?$('#{{formset_2.prefix}} .uk-tile:last-child').attr('row'):-1;
                    form_idx = (form_idx * 1) + 1;
                    var row_text = '{% with formset_2.empty_form as form %}' +
                        '<div class="uk-margin uk-tile uk-tile-muted uk-border-2 uk-padding-small" row="__prefix__">' +

                        {% for field in form %}
                        {% if not field.label in excluded_fields %}
                        '<div class="uk-margin">' +
                        '<label class="uk-form-label">' +
                            '{{ field.label }} {% if field.field.required %}(*){% endif %} :' +
                        '</label>' +
                        '<div class="uk-form-controls">{{ field|escapejs }}</div>' +
                        '</div>' +
                        {% endif %}

                        {% if forloop.last %}
                            '<div class="uk-button-group uk-text-center"><div><input type="button" class="uk-button uk-button-small uk-button-danger" onclick="deleteRow2(\'{{formset_2.prefix}}\', this);" value="Quitar" ></div></div>' +
                        {% endif %}
                        {% endfor %}
                        '</div>' +
                        '{% endwith %}';
                    var raw_row = row_text.replace(/__prefix__/g, form_idx);
                    $('#{{formset_2.prefix}}').append(raw_row);
                    document.getElementById("id_{{formset_2.prefix}}-TOTAL_FORMS").value = $('#{{formset_2.prefix}}').children().length;
                    load_help_funtion_2();
                    validate_max_formset_2();
                    validate_min_formset_2();
                };
                function validate_max_formset_2(){
                    total = parseInt(document.getElementById("id_{{formset_2.prefix}}-TOTAL_FORMS").value)
                    max = parseInt(document.getElementById("id_{{formset_2.prefix}}-MAX_NUM_FORMS").value)
                    if (total >= max){
                        $('#agregar-{{formset_2.prefix}}').hide();
                    }else{
                        $('#agregar-{{formset_2.prefix}}').show();
                    }
                }
                function validate_min_formset_2(){
                    total = parseInt(document.getElementById("id_{{formset_2.prefix}}-TOTAL_FORMS").value)
                    min = parseInt(document.getElementById("id_{{formset_2.prefix}}-MIN_NUM_FORMS").value)
                    if (total <= min){
                        $('.delete-{{formset_2.prefix}}').hide();
                    }else{
                        $('.delete-{{formset_2.prefix}}').show();
                    }
                }
            </script>
            <script>
                function deleteRow2(table_id, row){
                    var padre = row.parentNode.parentNode.parentNode.parentNode;
                    var hijo = row.parentNode.parentNode.parentNode;
                    padre.removeChild(hijo);
                    total_forms = document.getElementById("id_{{formset_2.prefix}}-TOTAL_FORMS");
                    form_idx = total_forms.value;
                    total_forms.value = (form_idx * 1) - 1;
                    validate_max_formset_2();
                    validate_min_formset_2();
                }
            </script>


            {% endblock formset_2 %}

        {% endif %}

        {% if formset_3 %}
            {% block formset_3 %}
            {{ formset_3.management_form }}
            <h5>{{ formset_3.verbose_name }}</h5>
            <div id="{{formset_3.prefix}}">
                {% for form in formset_3 %}
                <div class="uk-margin uk-tile uk-tile-muted uk-border-2 uk-padding-small" row="{{ forloop.counter0 }}">

                    {% for field in form %}
                        {% if not field.label in excluded_fields %}
                            <div class="uk-margin" >
                                <label class="uk-form-label">
                                    {{ field.label }} {% if field.field.required %}(*){% endif %} :
                                </label>
                                <div class="uk-form-controls">
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                        {% if forloop.last %}
                        <div class="uk-button-group uk-text-center">
                            <div>
                                <input type="button" class="delete-{{formset_3.prefix}} uk-button uk-button-small uk-button-danger" onclick="deleteRow3('{{formset_3.prefix}}', this);" value="Quitar" >
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% if form.errors %}
                        <div class="uk-alert uk-alert-danger uk-form-error">
                             {% for error in form.errors.values %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                {% endfor %}
            </div>
            <input id='agregar-{{formset_3.prefix}}' type="button" value="Agregar" class="uk-width-small uk-button uk-button-default uk-button-small" onclick="addRow3('{{formset_3.prefix}}', this);">


            <script>
                document.getElementById("id_{{formset_3.prefix}}-TOTAL_FORMS").value = $('#{{formset_3.prefix}}').children().length;
                validate_max_formset_3();
                validate_min_formset_3();
                function addRow3(table_id, row){
                    var form_idx = $('#{{formset_3.prefix}}').children().length!=0?$('#{{formset_3.prefix}} .uk-tile:last-child').attr('row'):-1;
                    form_idx = (form_idx * 1) + 1;
                    var row_text = '{% with formset_3.empty_form as form %}' +
                        '<div class="uk-margin uk-tile uk-tile-muted uk-border-2 uk-padding-small" row="__prefix__">' +

                        {% for field in form %}
                        {% if not field.label in excluded_fields %}
                        '<div class="uk-margin">' +
                        '<label class="uk-form-label">' +
                            '{{ field.label }} {% if field.field.required %}(*){% endif %} :' +
                        '</label>' +
                        '<div class="uk-form-controls">{{ field|escapejs }}</div>' +
                        '</div>' +
                        {% endif %}

                        {% if forloop.last %}
                            '<div class="uk-button-group uk-text-center"><div><input type="button" class="uk-button uk-button-small uk-button-danger" onclick="deleteRow3(\'{{formset_3.prefix}}\', this);" value="Quitar" ></div></div>' +
                        {% endif %}
                        {% endfor %}
                        '</div>' +
                        '{% endwith %}';
                    var raw_row = row_text.replace(/__prefix__/g, form_idx);
                    $('#{{formset_3.prefix}}').append(raw_row);
                    document.getElementById("id_{{formset_3.prefix}}-TOTAL_FORMS").value = $('#{{formset_3.prefix}}').children().length;
                    load_help_funtion_3();
                    validate_max_formset_3();
                    validate_min_formset_3();
                };
                function validate_max_formset_3(){
                    total = parseInt(document.getElementById("id_{{formset_3.prefix}}-TOTAL_FORMS").value)
                    max = parseInt(document.getElementById("id_{{formset_3.prefix}}-MAX_NUM_FORMS").value)
                    if (total >= max){
                        $('#agregar-{{formset_3.prefix}}').hide();
                    }else{
                        $('#agregar-{{formset_3.prefix}}').show();
                    }
                }
                function validate_min_formset_3(){
                    total = parseInt(document.getElementById("id_{{formset_3.prefix}}-TOTAL_FORMS").value)
                    min = parseInt(document.getElementById("id_{{formset_3.prefix}}-MIN_NUM_FORMS").value)
                    if (total <= min){
                        $('.delete-{{formset_3.prefix}}').hide();
                    }else{
                        $('.delete-{{formset_3.prefix}}').show();
                    }
                }
            </script>
            <script>
                function deleteRow3(table_id, row){
                    var padre = row.parentNode.parentNode.parentNode.parentNode;
                    var hijo = row.parentNode.parentNode.parentNode;
                    padre.removeChild(hijo);
                    total_forms = document.getElementById("id_{{formset_3.prefix}}-TOTAL_FORMS");
                    form_idx = total_forms.value;
                    total_forms.value = (form_idx * 1) - 1;
                    validate_max_formset_3();
                    validate_min_formset_3();
                }
            </script>


            {% endblock formset_3 %}

        {% endif %}
    </div>



    {% if not noFormActions%}

        <div class="form-actions uk-margin-top">
            {% for extra_action in extra_actions_left %}
                <div>
                    <a id="id_extra_left_{{ forloop.counter }}" class="btn" type="button" href="{{ extra_action.href }}">{{ extra_action.value }}</a>
                </div>
            {% endfor %}

            <div class="">
                {% if submit_onclick %}
                    <input id="id_1_{{ submit_value }}" class="uk-button uk-button-primary uk-border-rounded" type="button" value="{{ submit_value }}" onclick="{{submit_onclick}}"/>
                {% else %}
                    <input id="id_2_{{ submit_value }}" class="uk-button uk-button-primary uk-border-rounded" type="submit" value="{{ submit_value }}"/>

                {% endif %}
             </div>

            {% for extra_action in extra_actions_right %}
                <div>
                    <a id="id_extra_right_{{ forloop.counter }}" class="btn" type="button" href="{{ extra_action.href }}">{{ extra_action.value }}</a>
                </div>
            {% endfor %}
        </div>

    {% endif%}

    <script>
    $( function() {
        $( ".datepicker" ).datepicker({
            dateFormat: "yy-mm-dd",
            minDate: new Date(1900, 1, 1),
            maxDate: "+0D",
            yearRange: "1900:+1",
            dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
            dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
            monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
            monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ],
            nextText: "Siguiente",
            prevText: "Antes",
            navigationAsDateFormat: true,
            selectOtherMonths: true,
            showOtherMonths: true,
            changeMonth: true,
            changeYear: true,

        });
    } );
    </script>

</form>





