{% load static %}
{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Sr.Blankenbaker">
    <meta name="application-name" content="&nbsp;"/>

    <title>Escalón{% if title %} - {{ title }}{% endif %}</title>

    <meta property="og:title" content="Escalón"/>
    <meta property="og:type" content="website"/>

    <meta property="og:url" content="https://torres30002.com.ec/"/>
    <meta property="og:site_name" content="Torres30002.com.ec"/>
    <meta property="og:description" content=""/>

    <!-- CSS -->
    <link href="{% static 'uikit/css/uikit.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,800" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    
    {% block extra_head_css %}
    {% endblock %}

    <!-- JS -->
    <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <!--<script src="{% static 'js/functions.js' %}"></script>-->


     <!-- Scripts JS -->
    {% block extra_head_scripts %}
    {% endblock %}

</head>
<body>
    
    {% block container %}

    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
		<div class="uk-cover-container" style="background-image: url({% static 'img/login.jpg' %});" >
			<img src="{% static 'img/logo.png' %}" alt="" >
			<canvas width="300" height="300" uk-height-viewport></canvas>
		</div>
	    <div class="uk-last-column">

			<div class="">
				<div class="uk-container uk-container-small">
					<div class="uk-container uk-text-left">


						<h3 class="uk-heading-line uk-color-turquoise-soft">{{title}}</h3>

						{% include "form.html" with submit_value="Ingresar" attr="" form_classes="uk-form-stacked" show_help_texts_in_hidden="True" %}

                        <li class="uk-active uk-margin-top"><a href="{% url 'index'%}">Ir al sitio oficial</a></li>  

                       

					</div>

				</div>
			</div>
		</div>
	</div>

    {% endblock %}
    

    {% if messages %}
        {% for message in messages %}
            <script>
            {% for message in messages %}
                UIkit.notification({message: '{{ message }}', status: '{{ message.tags }}'});

            {% endfor %}
            </script>
        {% endfor %}
    {% endif %}

    {% include "footer.html" %}

</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118122901-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-118122901-1');
</script>

</html>