{% load static %}
<div id="navBar">
    
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

        <div id="offcanvas-push"  uk-offcanvas="overlay: true">
            
            <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide uk-offcanvas-bar-toogle">
                <ul class="uk-nav uk-nav-parent-icon" uk-nav>
                    {% if user.is_authenticated and user.is_superuser%}
                    <li class="uk-link-toogle"><a href="{% url 'administration:rooms'%}">HABITACIONES</a></li> 
                    <li class="uk-active uk-reserva"><a href="{% url 'administration:books'%}">RESERVACIONES</a></li>
                    <li class="uk-active "><a href="{% url 'logout'%}">SALIR</a></li>   
                    {% else %}
                    <li class="uk-link-toogle"><a href="{% url 'rooms' %}">HABITACIONES</a></li>
                    <li class="uk-link-toogle"><a href="{% url 'hotel' %}">EL HOTEL</a></li>
                    <li class="uk-link-toogle"><a href="{% url 'contact' %}">CONTACTO</a></li>
                    <li class="uk-link-toogle uk-reserva"><a href="{% url 'book_search' %}">RESERVA</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a href="{% url 'index' %}" class="uk-navbar-item uk-logo uk-nav-logo-center">
                    <img src="{% static 'img/logo.png' %}" class="uk-responsive-height" alt="Escalón">
                </a>
            </div>

            <div class="uk-navbar-right uk-visible@m">
                <ul class="uk-navbar-nav">
                    {% if user.is_authenticated and user.is_superuser%}
                    <li class="uk-active"><a href="{% url 'administration:rooms'%}">HABITACIONES</a></li>
                    <li class="uk-active uk-reserva"><a href="{% url 'administration:books'%}">RESERVACIONES</a></li>
                    <li class="uk-active "><a href="{% url 'logout'%}">SALIR</a></li>   
                    {% else %}
                    <li class="uk-active"><a href="{% url 'rooms' %}">HABITACIONES</a></li>
                    <li class="uk-active"><a href="{% url 'hotel' %}">EL HOTEL</a></li>
                    <li class="uk-active"><a href="{% url 'contact' %}">CONTACTO</a></li>
                    <li class="uk-active uk-reserva"><a href="{% url 'book_search' %}">RESERVA</a></li>
                    {% endif %}
                </ul>
            </div>
            
            <div class="uk-navbar-right uk-hidden@m">
                <a uk-navbar-toggle-icon="menu" href="#offcanvas-push" uk-toggle="" class="uk-hidden@m " ratio="1.5" ></a>
            </div>
        </nav>
    
    </div>

</div>


