
    <ul class="uk-pagination uk-flex-center">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">❮</a></li>
    {% else %}
      <li class="uk-disabled"><span>❮</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="uk-active"><span>{{ i }} <span class="sr-only"></span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">❯</a></li>
    {% else %}
      <li class="uk-disabled"><span❯</span></li>
    {% endif %}
  </ul>

