{% extends "base.html" %}
{% load static %}


{% block container %}

{%if object_list%}

        {% for object in object_list %}

        <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-padding-large " uk-grid style="background: rgba(102,102,102,0.1);">
    
            <div class="uk-card-media-left uk-cover-container ">

                <div >
                
                    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow>

                        <ul class="uk-slideshow-items " >
                            {% if object.attach_files.all %}
                                {%for d in object.attach_files.all%}
                                <li>
                                    <img src="{{d.get_attach_file_src.url}}" alt="" uk-cover>
                                </li>
                                {% endfor %}
                            {% endif %}
                           
                        </ul>

                        <div class="uk-position-bottom-center uk-position-small">
                            <ul class="uk-dotnav">
                                <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                                <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                                <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <div class="uk-margin-large-left">
                    
                    <h3 class="uk-text-bold uk-text-uppercase uk-text-title1">{{object.name}}</h3>
                    
                    <hr class="uk-border-top-title-room">
                    
                    <p class="uk-text-bold uk-text-subtitle-room uk-margin-remove-bottom">HABITACIÓN</p>


                    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-left uk-margin-small-top" uk-grid>
                        <div>
                            <div class="uk-card uk-descripcion-room">Aloja: {{object.guest}}</div>
                        </div>
                        <div>
                            <div class="uk-card uk-descripcion-room">Camas: {{object.guest}}</div>
                        </div>
                        <div>
                            <div class="uk-card uk-descripcion-room">Tamaño: {{object.size}} m2</div>
                        </div>
                    </div>

                    <p class="uk-text-bold uk-text-subtitle-room uk-margin-remove-bottom">MAS INFORMACIÓN</p>
                    
                    <p class="uk-descripcion-room uk-margin-small-top">{{object.description}}</p>
                    
                    <p class="uk-text-bold uk-text-subtitle-room uk-margin-remove-bottom">SERVICIOS Y COMODIDADES</p>

                    <div class="uk-margin-small-top uk-margin-bottom">
                        <ul class="uk-iconnav">
                        {%if object.service_types.all%}
                            {% for service in object.service_types.all %}
                                {% if service.id == 1 %}
                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_aireacon.png' %});"></span></li>
                                {% endif %}
                                {% if service.id == 2 %}
                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_wifi.png' %});"></span></li>
                                {% endif %}
                                {% if service.id == 3 %}
                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_tv.png' %});"></span></li>
                                {% endif %}
                                {% if service.id == 9 %}
                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_bano.png' %});"></span></li>
                                {% endif %}
                                {% if service.id == 5 %}
                                <li><span class="uk-icon uk-icon-image uk-icon-services" style="background-image: url({% static 'img/services/habitaciones_icono_toallas.png' %});"></span></li>
                                {% endif %}
                            {%endfor%}
                        {% else %}  
                                <li><p class="uk-descripcion-room uk-margin-small-top">No existe información para mostrar</p><li>
                        {% endif %}
                        </ul>
                    </div>
        
                     <div class="uk-child-width-1-1@s uk-child-width-1-1@m uk-text-left" uk-grid>
                        <div>
                            <div class="uk-card uk-descripcion-room">
                                <p class="uk-text-bold uk-text-subtitle-room uk-margin-remove-bottom">MAS INFORMACIÓN</p>
                                <p class="uk-descripcion-room uk-margin-small-top">Entrada: 02:00PM/ Salida: 12:00pm</p>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <p uk-margin>
                            <a class="uk-button uk-button-default uk-button-reservar" href="{%url 'book_search' room=object.id%}">Reservar</a>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    
        {%endfor%}
    {% else %}
        <tr>
            <td colspan="2">No existe información para mostrar.</td>
        </tr>
    {% endif %}


{% endblock %}


