{% load static %}


    <div class="uk-container uk-flex uk-flex-center uk-padding-remove">

        {% load staticfiles %}
        {% load widget_tweaks %}

        {% block extra_head_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
        {% endblock %}
        {% block extra_head_scripts %}
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        {% endblock %}

        <form {% if form_id %} id="{{form_id}}" {% endif%} {%if form_classes%} class="{{form_classes}}" uk-grid {% endif %}  action="" method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} {% if form_style %} style="{{ form_style }}" {% endif %} >
            {% csrf_token %}
            {{ form.media }}

            {% if form.errors %}
             <ul>
            {% for field in form.0.visible_fields %}
                {% if field.errors %}
                        <dl class="uk-description-list uk-text-danger">
                        {% for error in field.errors %}
                            <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
                        {% endfor %}
                        </dl>
                                
                {% endif %}                              
            {% endfor %}    
             </ul>                           
            {% endif%}

            {% for field in form.0.visible_fields %}

            <div class="uk-width-1-5@s">
                {% if field.errors %}
                    {{field|add_class:"uk-form-danger"}}
                {% else %}
                    {% if field.name == "date_in" or field.name == "date_out"%}
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip uk-icon-calendar-search" uk-icon="icon: calendar"></span>
                        {{ field }}
                    </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}

            

            <div class="uk-width-1-5@s">
            {% if not noFormActions%}
                <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip uk-icon-form-search" uk-icon="icon: search"></span>
                        <input id="id_1_{{ submit_value }}" class="uk-button uk-button-searchbook" type="submit" value="" onclick="find()" />  
                    </div>
                 
            {% endif%}

            </div>

            


            <script>
            $( function() {
                $( ".datepicker" ).datepicker({
                    dateFormat: "yy-mm-dd",
                    minDate: "+0D",
                    maxDate: "+1Y",
                    yearRange: "1900:+1",
                    dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
                    dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
                    monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
                    monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ],
                    nextText: "Siguiente",
                    prevText: "Antes",
                    navigationAsDateFormat: true,
                    selectOtherMonths: true,
                    showOtherMonths: true,
                    changeMonth: true,
                    changeYear: true,

                });
            } );
            </script>

        </form>

        <script type="text/javascript">
            function find(){
                $("#uk-seccion-list-rooms").show();
            }
        </script>

    
    </div>
