{% extends "base.html" %}
{% load static %}


{% block table_container %}

<div class="uk-section uk-section-default uk-section-small">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            <table id="{{ table_id }}" class="uk-table uk-table-hover uk-table-striped {% block table_extra_clases %}uk-table-responsive{%endblock%} uk-border-1">
                
                <caption><h3 class="uk-text-bold uk-text-title1">{{title}}</h3></caption>
                {%if show_tb_header == True %}
                <thead>
                    <tr>
                        {% block table_header %}{% endblock %}
                    </tr>
                </thead>
                {%endif%}
                <tbody>
                    {% block table_body %}{% endblock %}
                </tbody>
            </table>
        </div>
        {% if is_paginated %}
            {% include "paginator.html" %}
        {% endif %}
        
        <div class="">
            {%block table_action%}
            {%endblock%}
        </div>

    </div>

</div>



{% endblock %}