{% extends "base.html" %}
{% load static %}

{% block container %}


	<div class="uk-inline uk-dark">
            <img src="{% static 'img/bannerhome1.png' %}" alt="" width="1800" height="1200">
            <div class="uk-overlay-default uk-position-cover uk-overlay-thanks">
                <div class="uk-position-center">
                    <h3 class="uk-text-bold uk-text-title2  uk-text-center uk-text-uppercase " style="font-size: 30px">Tu reserva ha sido</h3>

 					<h3 class="uk-text-bold uk-text-title2 uk-text-uppercase  uk-text-center uk-margin-small-top uk-margin-small-bottom" style="font-size: 30px">realizada.</h3>

 					<h3 class="uk-text-bold uk-text-title2 uk-text-uppercase  uk-text-center uk-margin-large-top" style="font-size: 30px">Te esperamos</h3>

                </div>
            </div>
        </div>
    	
		   

       
			

            
	
	


{% endblock %}