{% extends "base.html" %}
{% load static %}


{% block container %}

<div class="uk-card uk-child-width-1-2@s uk-margin-remove" style="background: #0c3c7d;" uk-grid >
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-padding-remove">
            <div class="map-responsive">
                <img data-src="{% static 'img/home_reserva1_cena.png' %}" width="1800" height="1200" alt="" uk-img>

             </div>
        </div>

        <div class="uk-padding-left uk-padding-right uk-padding-remove-top uk-first-column">
            
                {% include "eventform2.html" with submit_value="Enviar" attr="" form_classes="uk-form-stacked" show_help_texts_in_hidden="True" %}
            
        </div>
    </div>
    
    
{% endblock %}