{% extends "base.html" %}
{% load static %}


{% block container %}


    <div class="uk-inline">
        <a href="http://escalonhotel.com/"><img data-src="{% static 'img/bannerhome1.png' %}" width="1800" height="1200" alt="" uk-img></a>
    </div>
    
    <div class="uk-inline uk-margin-large-bottom">

        <div class="uk-child-width-1-1 uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-body uk-grid-margin uk-margin-top uk-padding-remove-bottom">
                <h3 class="uk-text-bold uk-text-center uk-text-title1">#UNESCALÓNALANATURALEZA</h3></div>
            </div>
            
            <div>
                <div class="uk-card uk-card-body uk-grid-margin uk-padding-remove-top uk-padding-remove-bottom  uk-margin-small-left  uk-margin-small-right">
                    
                    <!--uk-card uk-card-body uk-grid-margin uk-padding-remove-top uk-padding-remove-bottom uk-padding-left uk-margin-xlarge-left uk-padding-right uk-margin-xlarge-right-->
                    <h4 class="uk-text-center uk-text-subtitle1 uk-margin-medium-left uk-margin-medium-right">
                        <!--uk-text-center uk-text-subtitle1 uk-padding-left uk-margin-xlarge-left uk-padding-right uk-margin-xlarge-right-->
                        Entra en armonía con la naturaleza, en el corazón de Urdesa, <i>Guayaquil</i>, Ecuador. <strong>El hotel boutique El Escalón</strong> es un espacio lleno de vida y colores, con un servicio personalizado y comodidades que sobrepasan expectativas.</h4>
                </div>
            </div>
            
            <div class="uk-margin-remove-top">
                <div class="uk-card uk-card-body uk-grid-margin uk-padding-remove-top uk-margin-remove-top uk-padding-remove-bottom">
                    
                    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                        <div>
                            <div class="uk-card  uk-card-body">
                                <p class="uk-text-left uk-descripcion uk-padding-left uk-margin-meium-left uk-padding-right uk-margin-medium-right">El Escalón es un espacio con historias escondidas y La leyenda de los escalones perdidos es una de ellas. Se dice que minutos antes de que se inauguren las escalinatas del cerro Santa Ana, uno de los albañiles notó que los últimos escalones habían desaparecido sin dejar rastro. Culpó a las almas de los piratas que rondaban desde los inicios del barrio.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-body">
                                <p class="uk-text-left uk-descripcion uk-padding-left uk-margin-medium-left uk-padding-right uk-margin-medium-right">Sin comentárselo a nadie, y por miedo a ser castigado por solo construir hasta el escalón 444, tomó sus maletas y viajó lejos de la ciudad. Algunos, de mente fantástica, dicen que los escalones llevaban a caminos que no debían ser conocidos por el hombre. Pero lo que sí es seguro, es quefueron encontrados, años después, en nuestro hotel.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="uk-margin-remove-top">
                <div class="uk-card  uk-card-body uk-grid-margin uk-padding-remove-top">
                    <h3 class="uk-text-bold uk-text-center uk-text-title1">¿TE GUSTARÍA DESCUBRIRLOS?</h3>
                </div>
            </div>
        
        </div>
    </div>

  
{% endblock %}


