
<table id="uk-tb1" class="uk-table" style="margin-bottom: 20px;">
    <tbody>
    <tr>
        <td class="uk-padding-remove uk-table-expand">Tipo de habitación</td>
        <td class="uk-padding-remove"><p id="uk_room">{{room.name}}</p></td>
    </tr>
   
    <tr>
        <td class="uk-padding-remove">No. de noches</td>
        <td class="uk-padding-remove"><p id="uk_days">{{days}}</p></td>
    </tr>
    
    <tr>
        <td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
      	<td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
    </tr>
    </tbody>
</table>

<table id="uk-tb2" class="uk-table" style="margin-bottom: 20px;">
<tbody>

	{%if charge%}
	<tr>
        <td class="uk-padding-remove uk-table-expand">Total por noche</td>
        <td class="uk-padding-remove  uk-text-right"><p id="uk_subtotal1">{{subtotal|floatformat:2}}</p> </td>
    </tr>
	<tr>
        <td class="uk-padding-remove uk-table-expand">Cargos por persona adicional</td>
        <td class="uk-padding-remove  uk-text-right"><p id="uk_charge">{{charge|floatformat:2}}</p></td>
    </tr>
    <tr>
        <td class="uk-padding-remove">Subtotal</td>
        <td class="uk-padding-remove  uk-text-right"><p id="uk_scharge">{{subtotal_charge|floatformat:2}}</p></td>
    </tr>
    
    {%else%}
    <tr>
        <td class="uk-padding-remove">Subtotal</td>
        <td class="uk-padding-remove  uk-text-right"><p id="uk_subtotal">{{subtotal|floatformat:2}}</p></td>
    </tr>
    {% endif %}

    
    <tr>
        <td class="uk-padding-remove">Impuestos (12%)</td>
        <td class="uk-padding-remove  uk-text-right"><p id="uk_tax">{{tax|floatformat:2}}</p></td>
    </tr>
    <tr>
        <td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
      	<td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
    </tr>
    <tr>
        <td class="uk-padding-remove">Total</td>
        <td class="uk-padding-remove  uk-text-right"><p id="uk_total">{{total|floatformat:2}}</p></td>
    </tr>
</tbody>
</table>
						