{% extends "table.html" %}
{% load static %}

{% block table_header %}
    <th class="uk-table-expand">Habitación</th>
    <th class="uk-table-expand">Fecha de entrada</th>
    <th class="uk-table-expand">Fecha de salida</th>
    <th class="uk-table-expand">Reservado por</th>
    <th class="uk-table-expand">Total</th>
    <th class="uk-table-expand">Estado</th>
    <th class="uk-table-shrink uk-text-center">Acciones</th>
{% endblock %}

{% block table_body %}
    {%if object_list%}
        {% for object in object_list %}
        <tr>
            <td><b class="uk-text-bold uk-hidden@m">Nombre: </b>{{object.room.name}}</td>
            <td><b class="uk-text-bold uk-hidden@m">Entrada: </b>{{object.date_in}}</td>
            <td><b class="uk-text-bold uk-hidden@m">Salida: </b>{{object.date_out}}</td>
            <td><b class="uk-text-bold uk-hidden@m">Reservado por: </b>{{object.book_by}}</td>
            <td><b class="uk-text-bold uk-hidden@m">Total: </b>{{object.total}}</td>
            <td><b class="uk-text-bold uk-hidden@m">Estado: </b>{{object.book_state}}</td>
            <td class="uk-text-center">
                <a alt='Editar' title='Editar' class="uk-link" href="{% url 'administration:book-edit' id=object.id%}" ><span class="uk-margin-small-left uk-icon" uk-icon="icon: pencil"></span><span class="uk-hidden@m">Editar</span></a>
                <a alt='Eliminar' title='Eliminar' uk-toggle="target: #modal-delete-{{ object.id }}" class="uk-link" href="#" ><span class="uk-margin-small-left uk-icon" uk-icon="icon: trash"></span><span class="uk-hidden@m">Eliminar</span></a>
                <div id="modal-delete-{{ object.id }}" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        <h4 class="uk-modal-title uk-text-center">Eliminar habitación</h4>
                        <p>Esta usted seguro que desea eliminar la reservación: <strong>{{object.name}}</strong></p>
                        <p class="uk-text-right">
                            <a class="uk-button uk-button-default uk-modal-close uk-width-small">Cancelar</a>
                            <a class="uk-button uk-button-danger uk-width-small" href="{% url 'administration:book-delete' id=object.id %}">Eliminar</a>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        {%endfor%}
    {% else %}
        <tr>
            <td colspan="4">No existe información para mostrar.</td>
        </tr>
    {% endif %}
{% endblock %}
{%block table_action%}
    <hr/>
    <a class="uk-button uk-button-primary uk-border-rounded uk-width-small" href="{% url 'administration:book-new' %}">Nuevo</a>

    
    <script type='text/javascript' src="{% static 'js/gcal.js' %}"></script>
    
    <link href="{% static 'js/fullcalendar.min.css' %}"  rel='stylesheet' />
    <link href="{% static 'js/fullcalendar.print.min.css' %}"  rel='stylesheet'  media='print' />

    <script type='text/javascript' src="{% static 'js/moment.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/fullcalendar.min.js' %}"></script>


    <div id='calendar'></div>
  
    <script>

        function createJSON() {
            jsonObj = [];

             {% for items in events %}
                {% for key,value in items.items %}
                    {%if key == 'start'%}
                        s = "{{value}}"
                    {%endif%}
                    {%if key == 'end'%}
                        e = "{{value}}"
                    {%endif%}
                    {%if key == 'title'%}
                        t = "{{value}}"
                    {%endif%}
                    {%if key == 'id'%}
                        i = "{% url 'administration:book-edit' id=value%}"
                    {%endif%}
                {% endfor %}

                jsonObj.push({title: t, start:s, end:e, url:i});

            {% endfor %}
    
            console.log(jsonObj);

            return jsonObj;
        }

        $(document).ready(function() {
            var x = createJSON();
            console.log(x);
            $('#calendar').fullCalendar({
              defaultDate: '2018-09-01',
              editable: true,
              eventLimit: true, // allow "more" link when too many events
              events: x
            });

        });

</script>

{%endblock%}


