{% extends "base.html" %}
{% load static %}
{% load admin_static %}
{% load i18n %}

{% block container %}
<div class="uk-section uk-section-default uk-section-small">
    <div class="uk-container uk-container-small">

    	<h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-text-uppercase uk-margin-small-bottom"">{{title}}</h4>


    	{% load staticfiles %}
		{% load widget_tweaks %}
		{% load extras %}


		{% block extra_head_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
		{% endblock %}
		{% block extra_head_scripts %}
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		{% endblock %}

		<form {% if form_id %} id="{{form_id}}" {% endif%} {%if form_classes%} class="{{form_classes}}" {% endif %}  action="" method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} {% if form_style %} style="{{ form_style }}" {% endif %} >
			{% csrf_token %}
        	{{ form.media }}

        	{% for field in form.hidden_fields %}
        		{{ field }}                   
            {% endfor %} 

            {% if form.errors %}
             <ul>
            {% for field in form.visible_fields %}
                {% if field.errors %}
                        <dl class="uk-description-list uk-text-danger">
                        {% for error in field.errors %}
                            <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
                        {% endfor %}
                        </dl>
                                
                {% endif %}                              
            {% endfor %}    
             </ul>                           
            {% endif%}


	    	<div class="uk-section uk-section uk-padding-remove">
			    <div class="uk-container uk-container-small">
			    	{% for field in form.visible_fields %}
                    {% if field.name == "state_type" %}
                   
                        {% if not hide_labels and not field.label == "#hide#" %}
                        <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
                            {{ field.label }} {% if field.field.required %}(*){% endif %} :
                        </label>
                        {% endif%}

                        <div id="id-{{field.name}}-div" class="uk-form-controls">
                        {% if field.errors %}
                            {{field|add_class:"uk-form-danger"}}
                        {% else %}
                            {{ field }}
                         {% endif %}
                        </div>

                        
                        {% if show_help_texts %}
                            {{ field.help_text }}
                        {% endif %}
                    
                    {%endif%}   
                    {% endfor %}
			    </div>
			</div>


			<div class="uk-section uk-padding-remove-bottom">
			    <div class="uk-container uk-container-small">
			    	<h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-text-uppercase uk-margin-small-bottom"">Datos de la reserva</h4>
			    	<div class="uk-child-width-expand@s" uk-grid >
	                    <div>
	                        {% for field in form.visible_fields %}
	                        {% if field.name == "date_in" or field.name == "guest" or field.name == "room" %}
	                       
	                            {% if not hide_labels and not field.label == "#hide#" %}
	                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
	                                {{ field.label }} {% if field.field.required %}(*){% endif %} :
	                            </label>
	                            {% endif%}

	                            <div id="id-{{field.name}}-div" class="uk-form-controls">
	                            {% if field.errors %}
	                                {{field|add_class:"uk-form-danger"}}
	                            {% else %}
	                                {{ field }}
	                             {% endif %}
	                            </div>

	                            
	                            {% if show_help_texts %}
	                                {{ field.help_text }}
	                            {% endif %}
	                        
	                        {%endif%}   
	                        {% endfor %}

	                       

	                    </div>

	                    <div>
	                        {% for field in form.visible_fields %}
	                        {% if field.name == "date_out" or field.name == "children" %}
	                       
	                            {% if not hide_labels and not field.label == "#hide#" %}
	                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
	                                {{ field.label }} {% if field.field.required %}(*){% endif %}
	                            </label>
	                            {% endif%}

	                            <div id="id-{{field.name}}-div" class="uk-form-controls">
	                            {% if field.errors %}
	                                {{field|add_class:"uk-form-danger"}}
	                            {% else %}
	                                {{ field }}
	                            {%endif%} 
	                            </div>

	                            {% if show_help_texts %}
	                                {{ field.help_text }}
	                            {% endif %}
	                        
	                        {%endif%}   
	                        {% endfor %}
	                    </div>
	                </div>
			    
			    </div>
			</div>


			<div class="uk-section uk-padding-remove-bottom">
			    <div class="uk-container uk-container-small">
			    	<h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-text-uppercase uk-margin-small-bottom"">Datos del huésped</h4>
			    	<div class="uk-child-width-expand@s" uk-grid >
	                    <div>
	                        {% for field in form.visible_fields %}
	                        {% if field.name == "first_name" or field.name == "phone" %}
	                       
	                            {% if not hide_labels and not field.label == "#hide#" %}
	                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
	                                {{ field.label }} {% if field.field.required %}(*){% endif %} :
	                            </label>
	                            {% endif%}

	                            <div id="id-{{field.name}}-div" class="uk-form-controls">
	                            {% if field.errors %}
	                                {{field|add_class:"uk-form-danger"}}
	                            {% else %}
	                                {{ field }}
	                             {% endif %}
	                            </div>

	                            
	                            {% if show_help_texts %}
	                                {{ field.help_text }}
	                            {% endif %}
	                        
	                        {%endif%}   
	                        {% endfor %}
	                    </div>

	                    <div>
	                        {% for field in form.visible_fields %}
	                        {% if field.name == "last_name" or field.name == "country" %}
	                       
	                            {% if not hide_labels and not field.label == "#hide#" %}
	                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
	                                {{ field.label }} {% if field.field.required %}(*){% endif %}
	                            </label>
	                            {% endif%}

	                            <div id="id-{{field.name}}-div" class="uk-form-controls">
	                            {% if field.errors %}
	                                {{field|add_class:"uk-form-danger"}}
	                            {% else %}
	                                {{ field }}
	                            {%endif%} 
	                            </div>

	                            {% if show_help_texts %}
	                                {{ field.help_text }}
	                            {% endif %}
	                        
	                        {%endif%}   
	                        {% endfor %}
	                    </div>      

	                </div>

	                
                	
                	<div class="uk-margin">
                		<div class="uk-card uk-card-small ">
                			{% for field in form.visible_fields %}
	                        {% if field.name == "email" %}
	                       
	                            {% if not hide_labels and not field.label == "#hide#" %}
	                            <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
	                                {{ field.label }} {% if field.field.required %}(*){% endif %}
	                            </label>
	                            {% endif%}

	                            <div id="id-{{field.name}}-div" class="uk-form-controls">
	                            {% if field.errors %}
	                                {{field|add_class:"uk-form-danger"}}
	                            {% else %}
	                                {{ field }}
	                            {%endif%} 
	                            </div>

	                            {% if show_help_texts %}
	                                {{ field.help_text }}
	                            {% endif %}
	                        
	                        {%endif%}   
	                        {% endfor %}
                		</div>
                	</div>

               

                    <div>
        
                    {% for field in form.visible_fields %}    
                    {% if field.name == "requirements" %}
                        
                        {% if not hide_labels and not field.label == "#hide#" %}
                        <label id="label_{{ field.id_for_label }}" class="uk-form-label uk-text-uppercase uk-text-bold  uk-text-label-book">
                            {{ field.label }} {% if field.field.required %}(*){% endif %}
                        </label>
                        {% endif%}

                        <div id="id-{{field.name}}-div" class="uk-form-controls">
                        {% if field.errors %}
                            {{field|add_class:"uk-form-danger"}}
                        {% else %}
                            {{ field }}
                        {%endif%} 
                        </div>

                
                        {% if show_help_texts %}
                            {{ field.help_text }}
                        {% endif %}
            
                    {%endif%}
                    {% endfor %}
                    </div>
			    
			    </div>
			</div>


			<div class="uk-section">
			    <div class="uk-container uk-container-small">
			    	<h4 class="uk-text-bold uk-text-uppercase uk-text-title1 uk-text-uppercase uk-margin-small-bottom"">Detalles del pago</h4>

			    	<div id="uk_calculos">
			    		{%if book%}
			    		<table id="uk-tb1" class="uk-table" style="margin-bottom: 20px;">
						    <tbody>
						    <tr>
						        <td class="uk-padding-remove uk-table-expand">Tipo de habitación</td>
						        <td class="uk-padding-remove"><p id="uk_room">{{book.room.name}}</p></td>
						    </tr>
						   
						    <tr>
						        <td class="uk-padding-remove">No. de noches</td>
						        <td class="uk-padding-remove"><p id="uk_days">{{ book.date_out|days:book.date_in }} </p></td>
						    </tr>
						    
						    <tr>
						        <td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						      	<td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						    </tr>
						    </tbody>
						</table>

						<table id="uk-tb2" class="uk-table" style="margin-bottom: 20px;">
						<tbody>

							
						    <tr>
						        <td class="uk-padding-remove">Subtotal</td>
						        <td class="uk-padding-remove  uk-text-right"><p id="uk_subtotal">{{book.subtotal|floatformat:2}}</p></td>
						    </tr>
						    
						    <tr>
						        <td class="uk-padding-remove">Impuestos (12%)</td>
						        <td class="uk-padding-remove  uk-text-right"><p id="uk_tax">{{book.tax|floatformat:2}}</p></td>
						    </tr>
						    <tr>
						        <td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						      	<td class="uk-padding-remove"><hr class="uk-border-bottom-description"></td>
						    </tr>
						    <tr>
						        <td class="uk-padding-remove">Total</td>
						        <td class="uk-padding-remove  uk-text-right"><p id="uk_total">{{book.total|floatformat:2}}</p></td>
						    </tr>
						</tbody>
						</table>
						{%endif%}
			    	</div>
			    </div>
			</div>

			<div class="uk-margin">
        		<div class="uk-card uk-card-small ">
        			
        			{% if not noFormActions%}
	                    <div class="form-actions uk-flex uk-flex-right">
	                        <input id="id_1_{{ submit_value }}" class="uk-button uk-button-default uk-text-uppercase uk-button-reservar  uk-width-expand " type="submit" value="Reservar" /> 
	                    </div>
	                {% endif%}
        		</div>
        	</div>

			<script>
	            $( function() {
	                $( ".datepicker" ).datepicker({
	                    dateFormat: "yy-mm-dd",
	                    minDate: "+0D",
	                    maxDate: "+1Y",
	                    yearRange: "1900:+1",
	                    dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
	                    dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
	                    monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
	                    monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ],
	                    nextText: "Siguiente",
	                    prevText: "Antes",
	                    navigationAsDateFormat: true,
	                    selectOtherMonths: true,
	                    showOtherMonths: true,
	                    changeMonth: true,
	                    changeYear: true,

	                });
	            } );
            </script>

            <script type="text/javascript">

            	$( "#id_date_in" ).change(function() {
            		roomcheckdate($( this ).val(), $("#id_date_out").val());
				});

				$( "#id_date_out" ).change(function() {
            		roomcheckdate($("#id_date_in").val(), $( this ).val());
				});

				function roomcheckdate(dai, dao){
					if( $("#id_date_in").val().length > 0 && $("#id_date_out").val().length > 0) {
					 	$.ajax({
				            url: "{% url 'administration:ajax_room_checkdate' %}",
				            data: {
				            'di':dai,
				            'do':dao,
				            },
				            success: function (data) {
				            	$("#id_room").html(' ');
				                $("#id_room").html(data);
				                calc(); 
				            }
				        });
				    }else{
			            if( $("#id_date_in").val().length == 0 ) 
			                UIkit.notification({message: 'Debe escoger una fecha de entrada para reservar.', status: 'danger'});
			            else if( $("#id_date_out").val().length == 0 ) 
			                UIkit.notification({message: 'Debe escoger una fecha de salida para reservar.', status: 'danger'});
			            else  
			                UIkit.notification({message: 'Exite un problema.', status: 'danger'});

			        }   
				}

				$( "#id_guest" ).change(function() {
					calc();
				});

				$( "#id_children" ).change(function() {
					calc();
				});

				$( "#id_room" ).change(function() {
					calc();
				});

				function calc(){
					if( $("#id_date_in").val().length > 0 && $("#id_date_out").val().length > 0 && $("#id_guest").val().length > 0 && $("#id_children").val().length > 0 && $("#id_room").val().length > 0 ) {
						$.ajax({
				            url: "{% url 'administration:ajax_calculate' %}",
				            data: {
					            'r': $("#id_room").val(),
					            'di':$("#id_date_in").val(),
					            'do':$("#id_date_out").val(),
					            'g':$("#id_guest").val(),
					            'c':$("#id_children").val()
				            },
				            success: function (data) {
				            	$("#uk_calculos").html(' ');
				                $("#uk_calculos").html(data);
				                
				            }
				        }); 
					}else{
			            if( $("#id_date_in").val().length == 0 ) 
			                UIkit.notification({message: 'Debe escoger una fecha de entrada para reservar.', status: 'danger'});
			            else if( $("#id_date_out").val().length == 0 ) 
			                UIkit.notification({message: 'Debe escoger una fecha de salida para reservar.', status: 'danger'});
			            else if( $("#guest").val().length == 0 ) 
			                UIkit.notification({message: 'Debe especificar el numero de huéspedes para reservar.', status: 'danger'});
			            else  
			                UIkit.notification({message: 'Exite un problema.', status: 'danger'});

			        }  
				}

            </script>

		</form>

    </div>
</div>
{% endblock %}