{% load widget_tweaks %}
{% load static %}

<div class="container">

    <input type="{{ widget.type }}"{% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value }}"{% endif %}{% endif %}{% endfor %} multiple="multiple" name={{ widget.name }} accept="{{ valid_mimetypes_list }};capture=camcorder" />

    <div id="gallery" class="uk-container uk-margin-small uk-padding-small"> 

    </div>

    <div id="gallery2" class="uk-container uk-margin-small uk-padding-small"> 

        {% for file in file_list %}
            <img src="{{file.get_attach_file_src.url}}" style= "max-width: 225px; max-height: 225px;" class="uk-padding-small">
        {% endfor %}

    </div>

    <span class="uk-label uk-label-small uk-label-warning">Al editar los archivos serán eliminados.</span>
</div>

<script>
    var inputElement = document.getElementById("id_{{ widget.name }}");    

    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {
        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    $($.parseHTML('<img>')).attr('src', event.target.result).attr('style', 'max-width: 225px; max-height: 225px;').attr('class', ' uk-padding-small').appendTo(placeToInsertImagePreview);
                }

                reader.readAsDataURL(input.files[i]);
            }
        }

    };

    $('input[type=file]').change(function() {
        
        $('#gallery').html("");

        var files = $(this).prop("files");
        
        imagesPreview(this, '#gallery');

        if (this.files.length > 0) {
            var _clearBtn = document.getElementById("id_{{ widget.name }}_clear_btn");
            if (_clearBtn != null) {
                _clearBtn.parentNode.removeChild(_clearBtn);
            }

            var clearBtn = document.createElement("BUTTON");
            clearBtn.id = "id_{{ widget.name }}_clear_btn";
            clearBtn.type = "button";
            clearBtn.className = 'uk-button uk-button-small uk-button-danger';
            clearBtn.appendChild(document.createTextNode('CLEAR'));
            
            $('div.gallery').append(clearBtn);
            
            $('#id_{{ widget.name }}_clear_btn').click(function(){
                inputElement.value = "";
                $('#gallery').html("");
            });
        } 

    });

</script>
