{% extends "base.html" %}
{% load static %}
{% load admin_static %}
{% load i18n %}

{% block container %}
<div class="uk-section uk-section-default uk-section-small">
    <div class="uk-container uk-container-small">

        <div class="uk-container uk-text-left">
            
        	{% load widget_tweaks %}
			{% load static %}

			{% block extra_head_css %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
			{% endblock %}
			{% block extra_head_scripts %}
			<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

			{% endblock %}

			<form id="room" class="uk-form-stacked"  action="" method="POST" enctype="multipart/form-data" >
			    {% csrf_token %}
			    {{ form.media }}

			    {{ form.non_field_errors }}
			    <div>
			        {% for field in form.visible_fields %}
			            <div class="uk-margin">
			                {% if not hide_labels and not field.label == "#hide#" %}
			                    <label id="label_{{ field.id_for_label }}" class="uk-form-label {% if field.errors %}uk-text-danger{% endif %}">
			                        {{ field.label }} {% if field.field.required %}(*){% endif %} :
			                    </label>
			                {% endif%}

			                {% if field.name == "service_types" %}
				                
				                <div id="id-{{field.name}}-div" class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
				                    {% if field.errors %}
			                            {{field|add_class:"uk-form-danger"}}
		                                <dl class="uk-description-list uk-text-danger">
		                                {% for error in field.errors %}
		                                    <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
		                                {% endfor %}
		                                </dl>
				                    {% else %}
				                        {{ field}}
				                    {% endif %}
				                </div>
				                {% if show_help_texts %}
				                    {{ field.help_text }}
				                {% endif %}
			                
			                {%else%}

				                <div id="id-{{field.name}}-div" class="uk-form-controls">
				                    {% if field.errors %}
			                            {{field|add_class:"uk-form-danger"}}
		                                <dl class="uk-description-list uk-text-danger">
		                                {% for error in field.errors %}
		                                    <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
		                                {% endfor %}
		                                </dl>
				                    {% else %}
				                        {{ field }}
				                    {% endif %}
				                </div>
				              {%endif%}
			                {% if show_help_texts %}
			                    {{ field.help_text }}
			                {% endif %}

			            </div>
			        {% endfor %}
			        {% for field in form.hidden_fields %}
			            {{ field }}
			            <dl class="uk-description-list uk-text-danger">
			            {% for error in field.errors %}
			                <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
			            {% endfor %}
			            </dl>
			        {% endfor %}



			    	{% if formset_2%}
			            {% block formset_2 %}
			            <h5>{{ formset_2.verbose_name }}</h5>
			            
			            {{ formset_2.management_form }}
			            
			            <div id="{{formset_2.prefix}}">
			                {% for form in formset_2 %}

			                <div class="uk-margin uk-tile uk-tile-muted uk-border-2 uk-padding-small roomservices_formset_row" row="{{ forloop.counter0 }}">

			                    {% for field in form %}

			                        {% if not field.label in excluded_fields %}
			                            <div class="uk-margin" >
			                                <label class="uk-form-label">
			                                    {{ field.label }} {% if field.field.required %}(*){% endif %} :
			                                </label>
			                                <div class="uk-form-controls">
			                                    <div id="id-{{field.name}}-div" class="uk-form-controls">
								                    {% if field.errors %}
							                            {{field|add_class:"uk-form-danger"}}
						                                <dl class="uk-description-list uk-text-danger">
						                                {% for error in field.errors %}
						                                    <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
						                                {% endfor %}
						                                </dl>
								                    {% else %}
								                        {{ field }}
								                    {% endif %}
								                </div>
			                                </div>
			                            </div>
			                            
			                        {% endif %}

			                         {% for field in form.hidden_fields %}
			                         
			                         <input type="hidden" name="{{formset_2.prefix}}-{{field.name}}" id="{{formset_2.prefix}}-{{field.name}}" value="{{ field.value }}">
			                         {% endfor %}

			                    {% endfor %}
			                    

			                </div>

			                {% endfor %}
			            </div>
			            			          
			            {% endblock formset_2 %}

		        	{% endif %}

					<div>

				    <script src="{% static 'js/jquery.formset.js' %}"></script>
				    
				    <script type="text/javascript">
				        $('.roomservices_formset_row').formset({
				            addText: 'Agregar',
				            addCssClass: 'uk-width-small uk-button uk-button-default uk-button-small',
				            deleteText: 'Quitar',
				            deleteCssClass: 'uk-button uk-button-small uk-button-danger',
				            prefix: '{{formset_2.prefix}}',
				            formTemplate: null,
				        });
				    </script>




				     {% if not noFormActions%}
				        <div class="form-actions uk-margin-top">
				            <div class="">
				                <input id="id_sumit" class="uk-button uk-button-primary uk-border-rounded" type="submit" value="Guardar"/>
				             </div>
				        </div>
				    {% endif%}

			</form>



        </div>

    </div>
</div>
</div>
</div>


{% endblock %}