{% extends "table.html" %}
{% load static %}

{% block table_header %}
{% endblock %}

{% block table_body %}
    {%if object_list%}
        {% for object in object_list %}
        <tr>
            <td><b class="uk-text-bold uk-hidden@m">Figura: </b><div class="uk-text-center"><img class="uk-border-2 uk-border-rounded uk-image-list-width" src="{{object.attach_picture_src}}" width="250" alt=""></div></td>
            <td><b class="uk-text-bold uk-hidden@m">Nombre: </b>{{object.name}}</td>
            <td class="uk-text-center">
                <a alt='Editar' title='Editar' class="uk-link" href="{% url 'administration:room-edit' id=object.id%}" ><span class="uk-margin-small-left uk-icon" uk-icon="icon: pencil"></span><span class="uk-hidden@m">Editar</span></a>
                <a alt='Eliminar' title='Eliminar' uk-toggle="target: #modal-delete-{{ object.id }}" class="uk-link" href="#" ><span class="uk-margin-small-left uk-icon" uk-icon="icon: trash"></span><span class="uk-hidden@m">Eliminar</span></a>
                <div id="modal-delete-{{ object.id }}" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        <h4 class="uk-modal-title uk-text-center">Eliminar habitación</h4>
                        <p>Esta usted seguro que desea eliminar la habitación: <strong>{{object.name}}</strong></p>
                        <p class="uk-text-right">
                            <a class="uk-button uk-button-default uk-modal-close uk-width-small">Cancelar</a>
                            <a class="uk-button uk-button-danger uk-width-small" href="{% url 'administration:room-delete' id=object.id %}">Eliminar</a>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        {%endfor%}
    {% else %}
        <tr>
            <td colspan="4">No existe información para mostrar.</td>
        </tr>
    {% endif %}
{% endblock %}
{%block table_action%}
    <hr/>
    <a class="uk-button uk-button-primary uk-border-rounded uk-width-small" href="{% url 'administration:room-new' %}">Nuevo</a>
{%endblock%}


